# Genres and MusicBrainz

By Alejandro Fernández Sánchez

## Setting up the connection

In [1]:
# Just in case you're the host and it's not already started
!service postgresql start

In [2]:
# Imports
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
import concurrent.futures
import numpy as np
import math
load_dotenv()

True

In [3]:
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_PORT = os.getenv("DB_PORT")

In [4]:
# Establishing a connection via postgre's python driver
conn = psycopg2.connect(
    database=DB_NAME,
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASS,
    port=DB_PORT
)
conn

In [5]:
cursor = conn.cursor()  # Helps with querying without memory allocation
cursor

In [6]:
# Helper function
def query_with_cursor(c, q, column_names=False, head=False):
    conn.rollback()  # This is needed if a previous query fails
    c.execute(q)
    if column_names:
        print([col[0] for col in c.description])
    count = 0
    for r in c:
        print(r)
        count += 1
        if head and count == 10:
            break

In [7]:
# Used for saving results to pandas dataframes
engine_url = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(engine_url)
engine

Engine(postgresql://musicbrainz:***@localhost:5432/musicbrainz_db)

## Artists relationships

How many are there?

In [8]:
query_with_cursor(
    cursor,
    "SELECT COUNT(*) FROM l_artist_artist"
)

(671957,)

Seems like a fairly big number, let's check how they relate to each other.

In [9]:
query =\
"""
SELECT id, name, description, long_link_phrase
FROM link_type
WHERE entity_type0 = 'artist'
  AND entity_type1 = 'artist'
ORDER BY id
"""
pd.read_sql_query(query, engine)

,id,name,description,long_link_phrase
0,102,collaboration,"This is used to specify that an <a href=""/doc/...",collaborated {minor:minorly} {additional:addit...
1,103,member of band,This indicates a person is a member of a group.,is/was {additional:an|a} {additional} {origina...
2,104,supporting musician,Indicates an artist doing long-time instrument...,is/was a supporting artist for
3,105,instrumental supporting musician,Indicates a musician doing long-time instrumen...,does/did {instrument} support for
4,106,musical relationships,,musical relationship
5,107,vocal supporting musician,Indicates a musician doing long-time vocal sup...,does/did {vocal:%|vocals} support for
6,108,is person,This links an artist's performance name (a sta...,performs as
7,109,parent,Indicates a parent-child relationship.,is the {step}parent of
8,110,sibling,This links two siblings (brothers or sisters).,has {half:half-}{step}sibling
9,111,married,This links artists who were married.,is/was married to
10,112,involved with,Indicates that two persons were romantically i...,is/was romantically involved with
11,113,personal relationship,,personal relationship
12,292,voice actor,This links an (fictional) artist to the person...,performed the voice of
13,305,conductor position,"This indicates that a person is, or was, a con...",is/was {assistant:an|a} {assistant} {principal...
14,722,subgroup,This links a subgroup to the group from which ...,is/was a subgroup of
15,728,tribute,This relationship specifies that an artist is ...,is a tribute to
16,847,teacher,This relationship indicates that a person was ...,taught
17,855,composer-in-residence,This links a group (often an orchestra) to a c...,was a composer-in-residence at
18,895,founder,This indicates an artist (generally a person) ...,founded
19,965,artistic director,"This indicates that a person is, or was, the a...",is/was artistic director for
20,973,named after,This indicates the artist that inspired this a...,is named after
21,1079,artist rename,This describes a situation where an artist (ge...,was renamed into

It seems like we have 22 possible relationships. They are all important, but there are two that differ from the rest.

Ids 1079 and 108. As I understand them, we should only have one entity of the same artist in the final CSVs. I'm going to store all occurrences of an artist in a list and stay with the most used instance.

First let's collect the data.

In [10]:
link_types = pd.read_sql_query("SELECT DISTINCT id FROM link_type  WHERE entity_type0 = 'artist' AND entity_type1 = 'artist'", engine)
relationships = pd.DataFrame({
    'id0': [],
    'name0': [],
    'id1': [],
    'name1': [],
    'relationship_type': [],
})
for link_type in (i for i in link_types["id"] if i not in (108, 1079)):
    query =\
f"""
SELECT a0.id AS id0, a0.name AS name0, a1.id AS id1, a1.name AS name1, {link_type} AS relationship_type
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type = {link_type}
);
"""
    result = pd.read_sql_query(query, engine)
    if result.empty:
        continue
    relationships = pd.concat([relationships, result])
del result
relationships["id0"] = relationships["id0"].astype(int).astype(str)
relationships["id1"] = relationships["id1"].astype(int).astype(str)
relationships

,id0,name0,id1,name1,relationship_type
0,448102,Xoel López,248824,Lovely Luna,102.0
1,77944,Michael Bublé,686291,Helping Haiti,102.0
2,359330,Miley Cyrus,686291,Helping Haiti,102.0
3,375655,James Morrison,686291,Helping Haiti,102.0
4,391119,HHH,1931190,HHH×MM×ST,102.0
...,...,...,...,...,...
563,242,The Chemical Brothers,1468,The Dust Brothers,973.0
564,1237428,Curb Cobain,236309,Kurt Cobain,973.0
565,2731567,JELEE,2723888,橘ののか,973.0
566,1625587,Chor und Orchester Mantovani,210790,Mantovani,973.0
567,2733328,The Erogerigegege,217284,The Gerogerigegege,973.0

Now we retrieve the changes that are needed.

In [11]:
query =\
f"""
SELECT a0.id AS artist0_id, a0.name AS artist0_name, a1.id AS artist1_id, a1.name AS artist1_name
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type = 1079
    OR link_type = 108
)
"""
changes = pd.read_sql_query(query, engine)
changes["artist0_id"] = changes["artist0_id"].astype(int).astype(str)
changes["artist1_id"] = changes["artist1_id"].astype(int).astype(str)
changes

      artist0_id          artist0_name artist1_id     artist1_name
0         472038      Hendrik Admiraal     310099            Ferox
1         475823          Nurmad Jusat      30986            Nuron
2         510355             Tom Salta     510353       Atlas Plug
3         493211             Mat Sweet     276406      Boduf Songs
4        1937776  Dennis Billy Nettles    1991266  DJ Hentai Daddy
...          ...                   ...        ...              ...
62558    2733152       Evan Kahlenberg    1586316          halberd
62559    2733152       Evan Kahlenberg    1923699          polearm
62560    2733152       Evan Kahlenberg    2493633       lilpolearm
62561     107069           Chris Cowie    2516613                Q
62562     308020          Michael Baur    2733227          Code-22

[62563 rows x 4 columns]

In [12]:
# I've iterated though some algorithms that I came up with and this is the fastest one (that works)
# This algorithm groups all the different (same) artists in a list
seen_dict = {}
changes_list = []
last_idx = -1
for _, row in changes.iterrows():
    artist0 = {"id": row["artist0_id"], "name": row["artist0_name"]}
    artist1 = {"id": row["artist1_id"], "name": row["artist1_name"]}
    if artist0["id"] in seen_dict:
        if artist1["id"] in seen_dict:
            continue
        artist0_idx = seen_dict[artist0["id"]]
        changes_list[artist0_idx].append(artist1)
        seen_dict[artist1["id"]] = artist0_idx
    elif artist1["id"] in seen_dict:
        artist1_idx = seen_dict[artist1["id"]]
        changes_list[artist1_idx].append(artist0)
        seen_dict[artist0["id"]] = artist1_idx
    else:
        last_idx += 1
        changes_list.append([artist0, artist1])
        seen_dict[artist0["id"]] = last_idx
        seen_dict[artist1["id"]] = last_idx

In [13]:
print(len([artist for artist_list in changes_list for artist in artist_list]))
print(len(changes_list))
changes_list[:3]

103569
41508

[[{'id': '472038', 'name': 'Hendrik Admiraal'},
  {'id': '310099', 'name': 'Ferox'}],
 [{'id': '475823', 'name': 'Nurmad Jusat'},
  {'id': '30986', 'name': 'Nuron'},
  {'id': '174009', 'name': 'Fugue'}],
 [{'id': '510355', 'name': 'Tom Salta'},
  {'id': '510353', 'name': 'Atlas Plug'}]]

Now we need to extract how many times each artist appears.

In [14]:
col_names = [f"a{i}_id" for i in range(5)]
releases = pd.DataFrame(columns=col_names, dtype=str)
for i in range(1, 6):
    path = f"releases-{i}.csv"
    releases = pd.concat([releases, pd.read_csv(path, usecols=[f"a{j}_id" for j in range(i)], dtype=str)])
releases.fillna("", inplace=True)
releases.head(5)

    a0_id a1_id a2_id a3_id a4_id
0  119635
1  491638
2  674029
3  834659
4  872941

In [15]:
releases.tail(5)

        a0_id    a1_id    a2_id    a3_id    a4_id
9000   620646   473903   373323   238532    23874
9001  1376930  1149230   933101   727181   174389
9002  2098528  2098506  1377684   433418   333305
9003  1550756  1422828  1292976  1260458  1215394
9004  1205355  1205354  1205352  1129217  1033122

In [16]:
artist_freqs = (releases.melt().groupby(by=["value"]).count()).to_dict(index="value")["variable"]

**Side note**: I've noticed that there's a "Various Artists" artist with ID 1. We should maybe take care of it once we're passed this (I'm thinking of removing it from the CSVs and just lower the number of artists involved by one for each song).

The next step is to order each list of different (same) artists so that the first element of the list is the artist instance what will remain after all changes have taken placen. From that list a dictionary holding the same information is created, but in a format that will allow Pandas to do the replacing we seek.

In [17]:
# First element of the list will be the "main" instance of the artist
changes_list = list(map(
    lambda artist_list: sorted(artist_list, key=lambda artist: artist_freqs.get(str(artist["id"]), 0), reverse=True),
    changes_list
))

In [18]:
len(changes_list)

41508

In [19]:
# Here I create a dict that follows the following:
# Key | Value
# Artist | Main artist
changes_dict = dict()
for artist_list in changes_list:
    main_artist_id = str(artist_list[0]["id"])
    for artist in artist_list[1:]:
        if artist_freqs.get(artist["id"], 0) > 0: 
            changes_dict[artist["id"]] = main_artist_id

In [20]:
len(changes_dict)

15127

We only care about artists we have already stored.

In [21]:
# Before doing anything we need to establish relationships only with
# the artists that we care about
relationships = relationships[relationships.isin(artist_freqs.keys()).any(axis=1)]
len(relationships)

494617

This two functions will come in handy for the next block.

In [22]:
def split_df_into_chunks(df, chunk_size) -> list[pd.DataFrame]:
    chunks = list()
    num_chunks = math.ceil(len(df) / chunk_size)
    for i in range(num_chunks):
        chunks.append(df.iloc[i * chunk_size: (i + 1) * chunk_size])
    return chunks

# Had problems with lambdas
def aux_replace(c):
    c.replace(changes_dict, inplace=True)

**Warning**: Long execution time. Here takes place the replacing with Pandas.

In [25]:
# I found chunks + processes as the most time-efficient combination
full_length = len(relationships)
first_length = 20000
second_length = 2000
current_rows_processed = 0
for i, chunk in enumerate(split_df_into_chunks(relationships, first_length)):
    chunk_size = len(chunk)
    current_rows_processed += chunk_size
    print("Processing chunk number", i + 1)
    print("Size of chunk:", chunk_size)
    subchunks = split_df_into_chunks(chunk, second_length)
    with concurrent.futures.ProcessPoolExecutor() as executor:
        _ = list(executor.map(aux_replace, subchunks))
    print("Done!")
    print("Current percentage:", round(current_rows_processed / full_length * 100, 2))
    print()

print("DONE")

Processing chunk number 1
Size of chunk: 20000
Done!
Current percentage: 4.04

Processing chunk number 2
Size of chunk: 20000
Done!
Current percentage: 8.09

Processing chunk number 3
Size of chunk: 20000
Done!
Current percentage: 12.13

Processing chunk number 4
Size of chunk: 20000
Done!
Current percentage: 16.17

Processing chunk number 5
Size of chunk: 20000
Done!
Current percentage: 20.22

Processing chunk number 6
Size of chunk: 20000
Done!
Current percentage: 24.26

Processing chunk number 7
Size of chunk: 20000
Done!
Current percentage: 28.3

Processing chunk number 8
Size of chunk: 20000
Done!
Current percentage: 32.35

Processing chunk number 9
Size of chunk: 20000
Done!
Current percentage: 36.39

Processing chunk number 10
Size of chunk: 20000
Done!
Current percentage: 40.44

Processing chunk number 11
Size of chunk: 20000
Done!
Current percentage: 44.48

Processing chunk number 12
Size of chunk: 20000
Done!
Current percentage: 48.52

Processing chunk number 13
Size of chunk: 20000
Done!
Current percentage: 52.57

Processing chunk number 14
Size of chunk: 20000
Done!
Current percentage: 56.61

Processing chunk number 15
Size of chunk: 20000
Done!
Current percentage: 60.65

Processing chunk number 16
Size of chunk: 20000
Done!
Current percentage: 64.7

Processing chunk number 17
Size of chunk: 20000
Done!
Current percentage: 68.74

Processing chunk number 18
Size of chunk: 20000
Done!
Current percentage: 72.78

Processing chunk number 19
Size of chunk: 20000
Done!
Current percentage: 76.83

Processing chunk number 20
Size of chunk: 20000
Done!
Current percentage: 80.87

Processing chunk number 21
Size of chunk: 20000
Done!
Current percentage: 84.91

Processing chunk number 22
Size of chunk: 20000
Done!
Current percentage: 88.96

Processing chunk number 23
Size of chunk: 20000
Done!
Current percentage: 93.0

Processing chunk number 24
Size of chunk: 20000
Done!
Current percentage: 97.04

Processing chunk number 25
Size of chunk: 14617
Done!
Current percentage: 100.0

DONE

In [26]:
print(current_rows_processed)
print(len(relationships))

494617
494617

Now we can finally save our relationships CSV.

In [27]:
relationships.to_csv("relationships.csv")

In [28]:
!wc -l relationships.csv

494618 relationships.csv

## Cleanup

In [29]:
engine.dispose()

In [30]:
!service postgresql stop