# Track extraction

By Alejandro Fernández Sánchez

## Setting up the connection

In [1]:
# Just in case you're the host and it's not already started
!service postgresql start

In [2]:
# Imports
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_PORT = os.getenv("DB_PORT")

In [4]:
# Establishing a connection via postgre's python driver
conn = psycopg2.connect(
    database=DB_NAME,
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASS,
    port=DB_PORT
)
conn

In [5]:
cursor = conn.cursor()  # Helps with querying without memory allocation
cursor

In [6]:
# Helper function
def query_with_cursor(c, q, column_names=False, head=False):
    conn.rollback()  # This is needed if a previous query fails
    c.execute(q)
    if column_names:
        print([col[0] for col in c.description])
    count = 0
    for r in c:
        print(r)
        count += 1
        if head and count == 10:
            break

In [7]:
# Used for saving results to pandas dataframes
engine_url = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(engine_url)
engine

Engine(postgresql://musicbrainz:***@localhost:5432/musicbrainz_db)

## DISCLAIMER

Results may vary depending on the version of the database.

Also, filename will remain as `recordings_and_releases.ipynb`, even though we're now collecting tracks.

## Difference between track, recording and release

### Copy-pasted from their website

- *Recording*:
    - A recording is an entity in MusicBrainz which can be linked to tracks on releases. Each track must always be associated with a single recording, but a recording can be linked to any number of tracks.
    - A recording represents distinct audio that has been used to produce at least one released track through copying or mastering. A recording itself is never produced solely through copying or mastering.
    - Generally, the audio represented by a recording corresponds to the audio at a stage in the production process before any final mastering but after any editing or mixing.
- *Track*: A track is the way a recording is represented on a particular release.
- *Release*: A release represents the unique release (i.e. issuing) of a product.

### My understanding after studying the database

The `track` table is the one with the foreign key connecting tracks and releases, meaning that the track relation is the child in the release-track relationship. This means we can have multiple tracks connected to each release, but not vice versa. The questions now raise: How many tracks there are? How many recordings? Can the foreign key `recording` be `NULL` (`track` table)? How many recordings are there without tracks?

Answer to these questions:

*Note*: We are not considering rows with `artist_credit` 1, as it links to `Various Artists`, which means nothing to us.

In [8]:
query_with_cursor(
    cursor,
    "SELECT COUNT(*) FROM recording WHERE artist_credit > 1"
)

(33390640,)

In [9]:
query_with_cursor(
    cursor,
    "SELECT COUNT(*) FROM track WHERE artist_credit > 1"
)

(47331330,)

It makes sense to have a higher number of tracks.

In [10]:
# Can the FK be NULL?
query_with_cursor(
    cursor,
    "SELECT COUNT(*) FROM track WHERE recording IS NULL AND artist_credit > 1;"
)

(0,)

In [11]:
# Number of recordings without tracks
# DISCLAIMER: The following was TOO slow
# SELECT COUNT(*)
# FROM recording
# WHERE id NOT IN (
#     SELECT recording
#     FROM track
# );
query =\
"""
SELECT COUNT(*)
FROM recording r
LEFT JOIN track t ON r.id = t.recording
WHERE t.id IS NULL
AND r.artist_credit > 1;
"""
query_with_cursor(
    cursor,
    query
)

(127716,)

We now know that every track has a recording associated. This information enables us to filter a lot of unneeded information by forgetting about tracks.

Another information gathered is that only about 0.37% of recordings don't have tracks.

What about releases? How many are there?

In [12]:
query =\
"""
SELECT COUNT(*) FROM release WHERE artist_credit > 1;
"""
query_with_cursor(
    cursor,
    query
)

(4110969,)

That's a much lower number of rows if we compare it to the 31+ million rows of recordings. So what should we do? Let's first apply some simple filters:

In [13]:
query =\
"""
SELECT COUNT(*)
FROM (
    SELECT DISTINCT name, artist_credit
    FROM release
    WHERE LOWER(name) !~ 'mix|version|edit|cover|live session|live performance'
    AND artist_credit > 1
) ov;
"""
query_with_cursor(
    cursor,
    query
)

(3198477,)

In [14]:
query =\
"""
SELECT COUNT(*)
FROM (
    SELECT DISTINCT name, artist_credit
    FROM recording
    WHERE LOWER(name) !~ 'mix|version|edit|cover|live session|live performance'
    AND artist_credit > 1
) ov;
"""
query_with_cursor(
    cursor,
    query
)

KeyboardInterrupt:

About 7 million recordings can be filtered that easily. We can filter more rows if we learn about `l_*_*` tables.

We're going to be working with tracks, though.

In [ ]:
query =\
"""
SELECT COUNT(*)
FROM (
    SELECT DISTINCT name, artist_credit
    FROM track
    WHERE LOWER(name) !~ 'mix|version|edit|cover|live session|live performance'
    AND artist_credit > 1
) ov;
"""
query_with_cursor(
    cursor,
    query
)

### l_\*_\* tables

`l_*_*` tables are created with the purpose of establishing relationships between entities. Wait, then why are we not focusing on them? The answer is simple, while they may contain some useful information, they are incomplete. An example: a new release can be created, a release that is connected to a recording in some way, without altering the `l_recording_release` table.

**BUT** we can use some of the information of those tables. Each `l_*_*` table has a link column that represents the type of connection between the entities. Let's take a look at the possible relations.

From now on our focus will be on the `release` entity.

In [ ]:
# l_release_release
query =\
"""
SELECT id, name, description, long_link_phrase
FROM link_type
WHERE entity_type0 = 'release'
  AND entity_type1 = 'release'
ORDER BY id
"""
pd.read_sql_query(query, engine)

So we can't establish relations directly between the two entities but we can filter out a lot inside each entity.

For `release` we have 6 `link_type`:
- 1: Useless in this case.
- 2: The original is the first entity.
- 3: Useless in this case.
- 4: Useless because there's not a single link associated (as of 26th of March, 2024).
- 6: The original is the second entity.
- 1009: The good entity is the second one.

This translates into: do not include the other releases.

In [ ]:
# Filtered release count
query =\
"""
SELECT COUNT(*)
FROM (
    SELECT DISTINCT name, artist_credit
    FROM release
    WHERE id NOT IN (
        SELECT entity1
        FROM l_release_release
        WHERE link IN (
            SELECT id
            FROM link
            WHERE link_type = 2
        )

        UNION

        SELECT entity0
        FROM l_release_release
        WHERE link IN(
            SELECT id
            FROM link
            WHERE link_type IN (6, 1009)
        )
    )
    AND LOWER(name) !~ 'mix|version|edit|cover|live session|live performance'
    AND artist_credit > 1
) filtered_releases
"""
query_with_cursor(
    cursor,
    query
)

We went from 2966211 to 2956083... As it was said, these `l_*_*` tables are incomplete, so this result checks out. We're now ready for the next step.

### Dates?

Dates are tricky. Recordings and tracks have none associated, that's why we're currently only working with releases.

These dates are located in two tables, `release_unknown_country` and `release_country`. We may potentially have dates in both tables for the same release. Let's check:

In [ ]:
# Releases with dates in both tables
query =\
"""
SELECT COUNT(*)
FROM (
    SELECT release
    FROM release_unknown_country

    INTERSECT

    SELECT release
    FROM release_country
) foo
"""
query_with_cursor(
    cursor,
    query
)

Seems like that's the case, so we'll have to get around that. It's also worth noting that dates are not stored in date format, they're stored in three NULLABLE integer columns. To get around this, if a date has a component missing a big number will be applied to the component (using `COALESCE`).

In [ ]:
# Release id with date
query =\
"""
SELECT
    release,
    MIN(COALESCE(date_year * 100, 0) + COALESCE(date_month, 0)) AS earliest_year_month,
    CAST(MIN(COALESCE(date_year * 100, 0) + COALESCE(date_month, 0)) / 100 AS INT) AS earliest_year,
    CAST(MIN(COALESCE(date_year * 100, 0) + COALESCE(date_month, 0)) % 100 AS INT) AS earliest_month
FROM (
    SELECT release, date_year, date_month
    FROM
        release_unknown_country

    UNION

    SELECT release, date_year, date_month
    FROM release_country
) release_dates
GROUP BY release
"""
query_with_cursor(
    cursor,
    query,
    column_names=True,
    head=True
)

Now, how do we associate each filtered release with a date?

In [ ]:
# Filtered releases with dates
query =\
"""
SELECT r.name, r.artist_credit, MIN(rd.date) AS date
FROM release r
JOIN (
    SELECT
        release,
        MIN(COALESCE(date_year * 100, 0) + COALESCE(date_month, 0)) AS earliest_year_month,
        CAST(MIN(COALESCE(date_year * 100, 0) + COALESCE(date_month, 0)) / 100 AS INT) AS earliest_year,
        CAST(MIN(COALESCE(date_year * 100, 0) + COALESCE(date_month, 0)) % 100 AS INT) AS earliest_month
    FROM (
        SELECT release, date_year, date_month
        FROM
            release_unknown_country
    
        UNION
    
        SELECT release, date_year, date_month
        FROM release_country
    ) release_dates
    GROUP BY release
) rd ON rd.release = r.id
WHERE r.id NOT IN (
    SELECT entity1
    FROM l_release_release
    WHERE link IN (
        SELECT id
        FROM link
        WHERE link_type = 2
    )

    UNION

    SELECT entity0
    FROM l_release_release
    WHERE link IN(
        SELECT id
        FROM link
        WHERE link_type IN (6, 1009)
    )
)
AND LOWER(r.name) !~ 'mix|version|edit|cover|live session|live performance'
AND r.artist_credit > 1
GROUP BY r.name, r.artist_credit
"""
temp = pd.read_sql_query(query, engine)

Almost every filtered release have a date.

In [ ]:
len(temp)

In [ ]:
len(temp[temp.name.isnull()])

In [ ]:
del temp

We are working with 2839554 releases with associated dates.

Now that we have the dates of the releases we can work on an analysis.

## Data analysis

Let's see how many of those filtered releases we're going to be working with.

In [ ]:
# We are not getting exactly all previous occurrences, but it's close enough.
# As this query is built, if artist A and artist B have collaborated on a song
# multiple times all occurrences are going to add to the total sum. This makes
# sense imo, as I think the number of collaborations matter.
query =\
"""
SELECT artist_count, COUNT(id)
FROM artist_credit
WHERE id IN (
    SELECT artist_Credit
    FROM release
    WHERE id NOT IN (
        SELECT entity1
        FROM l_release_release
        WHERE link IN (
            SELECT id
            FROM link
            WHERE link_type = 2
        )

        UNION

        SELECT entity0
        FROM l_release_release
        WHERE link IN(
            SELECT id
            FROM link
            WHERE link_type IN (6, 1009)
        )
    )
    AND LOWER(name) !~ 'mix|version|edit|cover|live session|live performance'
    AND artist_credit > 1
    GROUP BY name, artist_credit
)
GROUP BY artist_count
"""
release_artists_freqs = pd.read_sql_query(query, engine)

I was instructed to push for at least 75% of the data. Let's go after that then.

In [ ]:
# First, let's plot all of them
plt.bar(release_artists_freqs.artist_count, release_artists_freqs["count"], label="Frequencies")
plt.title("Number of artists")
plt.legend()
plt.show()

In [ ]:
# There are a LOT of releases with only one artist credited.
release_artists_freqs[release_artists_freqs.artist_count == 1]["count"] / release_artists_freqs["count"].sum() * 100.0

In [ ]:
# 71%! Let's look at accumulated frequencies
total_freq = release_artists_freqs["count"].sum()
for i in range(1, 6):
    acc_freq = release_artists_freqs[release_artists_freqs.artist_count <= i]["count"].sum()
    print(i, acc_freq)
    print(f"{i}: {round(acc_freq / total_freq * 100.0, 4)}%")
    print()

In [ ]:
# So we're getting almost 99% of the data going up to 5!
# That's good news, queries don't take TOO long with 5 artists involved.
release_artists_freqs_lte5 = release_artists_freqs[release_artists_freqs.artist_count <= 5]
plt.bar(release_artists_freqs_lte5.artist_count, release_artists_freqs_lte5["count"], label="Frequencies")
plt.legend()
plt.show()

Now let's look at the evolution of `artist_count` in the last 50 years.

We'll need another query, now with a new filter (`artist_count` <= 5).

In [ ]:
query =\
"""
SELECT EXTRACT(YEAR FROM rd.date) AS year, ac.artist_count, COUNT(*)
FROM artist_credit ac
JOIN (
    SELECT r.name, r.artist_credit, MIN(rd.date) AS date
    FROM release r
    JOIN (
        SELECT release, MIN(date) AS date
        FROM (
            SELECT release, DATE(CONCAT(COALESCE(date_year, 2099), '-', COALESCE(date_month, 12), '-', COALESCE(date_day, 28))) AS date
            FROM release_unknown_country

            UNION

            SELECT release, DATE(CONCAT(COALESCE(date_year, 2099), '-', COALESCE(date_month, 12), '-', COALESCE(date_day, 28)))
            FROM release_country
        ) release_dates
        GROUP BY release
    ) rd ON rd.release = r.id
    WHERE r.id NOT IN (
        SELECT entity1
        FROM l_release_release
        WHERE link IN (
            SELECT id
            FROM link
            WHERE link_type = 2
        )

        UNION

        SELECT entity0
        FROM l_release_release
        WHERE link IN(
            SELECT id
            FROM link
            WHERE link_type IN (6, 1009)
        )
    )
    AND LOWER(r.name) !~ 'mix|version|edit|cover|live session|live performance'
    AND r.artist_credit > 1
    GROUP BY r.name, r.artist_credit
) rd ON rd.artist_credit = ac.id
WHERE ac.artist_count <= 5
AND rd.date >= DATE('1973-1-1')
AND rd.date <= DATE('2025-1-1') -- We don't care about missing dates in this instance
GROUP BY year, artist_count
"""
ac_date = pd.read_sql_query(
    query,
    engine,
    dtype={
        "year": int,
        "artist_count": int,
        "count": int
    }
)

In [ ]:
bins = range(ac_date.year.min(), ac_date.year.max() + 4, 4)
ac_date["year_group"] = pd.cut(ac_date.year, bins=bins, right=False)
ac_date_grouped = ac_date.groupby(["year_group", "artist_count"], observed=False).sum()["count"].unstack()

ac_date_grouped.plot(kind="bar")

In [ ]:
# Let's remove artist_count 1
ac_date_grouped_gt1 = ac_date_grouped.drop(columns=[1])
ac_date_grouped_gt1.plot(kind='bar')

In [ ]:
# Percentage of collaborations per interval
ac_date_grouped["percentage"] = ac_date_grouped[1] / (ac_date_grouped[range(1, 6)]).sum(axis=1) * 100.0
ac_date_grouped

We can observe a clear growth on all types of releases and a decrease on the percentage of solo releases.

Now with only the last ten years.

In [ ]:
ac_date_10 = ac_date[ac_date.year >= 2014].drop(columns=["year_group"])
ac_date_10_pivot = ac_date_10.pivot(index="year", columns="artist_count", values="count")
ac_date_10_pivot.plot(kind="bar")

In [ ]:
# Let's remove artist_count 1
ac_date_10_pivot_gt1 = ac_date_10_pivot.drop(columns=[1])
ac_date_10_pivot_gt1.plot(kind='bar')

In [ ]:
# Percentage of collaborations per interval
ac_date_10_pivot["percentage"] = ac_date_10_pivot[1] / (ac_date_10_pivot[range(1, 6)]).sum(axis=1) * 100.0
ac_date_10_pivot

The percentage and number of collaborations seems to be lower lately.

## CSVs

CSV generation takes place in this section.

I found out that there can be multiple releases with the same name and different artist_credit referring to the same release, so a last `GROUP BY` is needed. I'm going to be helped by a function so that I don't have to write the different queries and keep up with the changes in all of them. To demonstrate the output of the helper function there's an example with `artist_count = 3`.

Also, I'll also export releases, as I can't link a date to them.

In [ ]:
def generate_long_query(artist_count: int) -> str:
    assert artist_count >= 1
    result = f"SELECT ov.name, ov.date, ov.date / 100 AS year, ov.date % 100 AS month, {artist_count} AS artist_count, "
    result += ", ".join([f"artists.a{i}_id, artists.a{i}_name" for i in range(artist_count)])
    result += ", ov.tags"
    result += f"""
FROM (
    -- track + date
    SELECT
        t.name,
        t.artist_credit,
        -- Minimum date
        MIN(rd.earliest_year_month) AS date,
        STRING_AGG(rd.tags::VARCHAR, ', ') AS tags
    FROM (SELECT id, name, artist_credit, medium FROM track WHERE artist_credit IN (SELECT id FROM artist_credit WHERE artist_count = {artist_count})) t
    -- track linkage to releases with dates and tags
    JOIN medium m ON m.id = t.medium
    JOIN (
        SELECT
            r.id AS release,
            MIN(COALESCE(date_year * 100, 0) + COALESCE(date_month, 0)) AS earliest_year_month,
            STRING_AGG(DISTINCT rt.tag::VARCHAR, ', ') AS tags
        FROM release r
        JOIN (
            SELECT release, date_year, date_month
            FROM release_unknown_country

            UNION

            SELECT release, date_year, date_month
            FROM release_country
        ) rd ON rd.release = r.id
        LEFT JOIN release_tag rt ON rt.release = r.id
        WHERE r.id NOT IN (
            SELECT entity1
            FROM l_release_release
            WHERE link IN (SELECT id FROM link where link_type = {artist_count})

            UNION

            SELECT entity0
            FROM l_release_release
            WHERE link IN (SELECT id FROM link where link_type IN (6, 1009))
        )
            AND r.name !~* 'mix|version|edit|cover|live session|live performance'
        GROUP BY r.id
    ) rd ON rd.release = m.release
    -- no versions and no 'Various Artists'
    WHERE t.name !~* 'mix|version|edit|cover|live session|live performance'
        AND t.artist_credit > 1
    GROUP BY
        t.name,
        t.artist_credit
) ov
-- track linkage to artists
JOIN (
    SELECT
        acn0.artist_credit, """
    result += ", ".join([f"a{i}.id AS a{i}_id, a{i}.name AS a{i}_name" for i in range(artist_count)])
    result += f"\n    FROM (SELECT artist_credit, artist FROM artist_credit_name WHERE artist_credit IN (SELECT id FROM artist_credit WHERE artist_count = {artist_count})) acn0\n    "
    result += "\n    ".join([f"JOIN artist_credit_name acn{i} ON acn{i}.artist_credit = acn0.artist_credit AND acn{i}.artist < acn{i - 1}.artist" for i in range(1, artist_count)])
    result += "\n    "
    result += "\n    ".join([f"JOIN artist a{i} ON a{i}.id = acn{i}.artist" for i in range(artist_count)])

    result += """
) artists ON artists.artist_credit = ov.artist_credit
;
"""
    return result

In [ ]:
print(generate_long_query(3))

In [ ]:
# We're also generating the CSVs for solo releases
# This is needed in our dataset in order to study the evolution of artists
total = 0
for i in range(1, 6):
    print(f"Generating for {i} artists...")
    result = pd.read_sql_query(
        generate_long_query(i),
        engine
    )
    print("    Query done! Applying lambda...")
    result["tags"] = result["tags"].apply(lambda x: x if pd.isna(x) else ", ".join(set(x.split(", "))))
    print("    Saving to CSV...")
    result.to_csv(f"tracks-{i}.csv", index=False)
    total += len(result)
    print(f"    Done! Found {len(result)} tracks. Total tracks: {total}.")
    del result
    break

In [ ]:
!wc -l tracks-*.csv

In [ ]:
!head tracks-5.csv

In [ ]:
!grep -i "bang bang" tracks-*.csv | grep "Ariana"

In [ ]:
!grep ",AJR," tracks-*.csv

## Cleanup

In [ ]:
engine.dispose()
conn.close()

In [ ]:
!service postgresql stop