# Artist Merge

By Alejandro Fernández Sánchez

## Setting up the connection

In [1]:
!service postgresql start

In [2]:
# Imports
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_PORT = os.getenv("DB_PORT")

In [4]:
# Used for saving results to pandas dataframes
engine_url = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(engine_url)
engine

Engine(postgresql://musicbrainz:***@localhost:5432/musicbrainz_db)

## Artist merge

Explanations are brief because it's mostly a copy-paste from `artist_artist.ipynb`.

In [5]:
query =\
f"""
SELECT a0.id AS artist0_id, a1.id AS artist1_id
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type = 1079
    OR link_type = 108
)
"""
changes = pd.read_sql_query(query, engine, dtype=str)
changes

      artist0_id artist1_id
0         805193     182397
1         510355     510353
2         472038     310099
3         366859     134438
4         475823      30986
...          ...        ...
62558    2155180    2732786
62559    2733152    2493633
62560     107069    2516613
62561    2732796    2732788
62562     308020    2733227

[62563 rows x 2 columns]

In [6]:
# I've iterated though some algorithms that I came up with and this is the fastest one (that works)
# This algorithm groups all the different (same) artists in a list
seen_dict = {}
changes_list = []
last_idx = -1
for _, row in changes.iterrows():
    artist0 = row["artist0_id"]
    artist1 = row["artist1_id"]
    if artist0 in seen_dict:
        if artist1 in seen_dict:
            continue
        artist0_idx = seen_dict[artist0]
        changes_list[artist0_idx].append(artist1)
        seen_dict[artist1] = artist0_idx
    elif artist1 in seen_dict:
        artist1_idx = seen_dict[artist1]
        changes_list[artist1_idx].append(artist0)
        seen_dict[artist0] = artist1_idx
    else:
        last_idx += 1
        changes_list.append([artist0, artist1])
        seen_dict[artist0] = last_idx
        seen_dict[artist1] = last_idx

In [7]:
releases = pd.read_csv("releases_no_va.csv", dtype=str)
releases

,name,date,artist_credit,artist_count,a0_id,a0_name,a1_id,a1_name,a2_id,a2_name,a3_id,a3_name,a4_id,a4_name
0,!,2020-08-06,119635,1,119635,Kevin Drumm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sabr,2009-02-16,2094632,1,1450753,Shahram Solati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sabr Aur Shukr,2023-09-08,351688,1,351688,Shekhar Ravjiani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sabra Shatila 1982,2019-12-28,1288322,1,1096452,Geography of Hell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sabrana Djela 1976. - 1987.,2019-03-28,414860,1,414860,Paraf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2841551,Glorious Percussion / In tempus praesens,2011-10-28,1085468,5,947108,Luzerner Sinfonieorchester,947105,Glorious Percussion,538910,Vadim Gluzman,420382,Jonathan Nott,153732,София Асгатовна Губайдулина
2841552,Glow of Benares,2017-11-24,2962164,5,1496607,Abhijit Banerjee,1058331,Randers Kammerorkester,494877,Kala Ramnath,310652,Aarhus Jazz Orchestra,23800,Lars Møller
2841553,Glowing Up,2021-06-11,3222555,5,2290023,TUSO,2290022,Tudor,2118382,Milwin,1886127,Discrete,1184231,Sofia Karlberg
2841554,Gloria and Other Choral Music,1988-12-28,2062383,5,551005,Donna Deam,476955,City of London Sinfonia,129845,The Cambridge Singers,36433,John Rutter,30462,Francis Poulenc
2841555,잊지마,2015-01-03,1438016,5,1205355,Loota,1205354,JayAllDay,1205352,Keith Ape,1129217,KOHH,1033122,Okasian

In [8]:
cols = [f"a{i}_id" for i in range(5)]
artist_freqs = (releases[cols].melt().groupby(by=["value"]).count()).to_dict(index="value")["variable"]
artist_freqs

{'10': 6,
 '1000': 44,
 '1000007': 1,
 '1000008': 2,
 '1000017': 1,
 '100002': 1,
 '1000025': 1,
 '100003': 1,
 '100004': 4,
 '1000049': 1,
 '100005': 2,
 '1000058': 1,
 '1000060': 3,
 '1000067': 7,
 '1000068': 2,
 '1000073': 1,
 '1000077': 1,
 '1000078': 1,
 '1000079': 1,
 '1000080': 16,
 '1000081': 3,
 '1000082': 3,
 '1000083': 1,
 '1000085': 2,
 '100009': 1,
 '1000095': 1,
 '1000096': 2,
 '1000107': 1,
 '1000112': 1,
 '100012': 15,
 '1000120': 2,
 '1000121': 1,
 '1000130': 3,
 '1000131': 1,
 '1000135': 12,
 '1000138': 6,
 '100014': 1,
 '1000143': 3,
 '1000144': 1,
 '1000146': 1,
 '1000147': 2,
 '1000148': 1,
 '1000150': 1,
 '1000151': 1,
 '1000154': 1,
 '1000155': 2,
 '1000156': 1,
 '1000157': 1,
 '1000158': 3,
 '1000159': 2,
 '1000161': 4,
 '1000164': 1,
 '1000167': 1,
 '1000168': 3,
 '100017': 3,
 '1000170': 1,
 '1000171': 11,
 '100018': 2,
 '1000182': 1,
 '1000187': 1,
 '1000188': 4,
 '1000196': 3,
 '1000199': 2,
 '100020': 4,
 '1000200': 1,
 '1000202': 5,
 '1000204': 4,
 '1000205': 1,
 '1000206': 2,
 '1000207': 4,
 '1000208': 1,
 '100021': 4,
 '1000210': 5,
 '1000213': 3,
 '1000214': 4,
 '1000218': 1,
 '1000222': 1,
 '1000223': 1,
 '1000224': 1,
 '1000232': 2,
 '1000234': 1,
 '1000235': 1,
 '1000239': 1,
 '100025': 6,
 '1000250': 1,
 '1000251': 3,
 '1000252': 4,
 '1000253': 1,
 '1000254': 1,
 '1000256': 1,
 '1000259': 1,
 '100026': 1,
 '1000260': 1,
 '1000261': 1,
 '1000272': 5,
 '100028': 10,
 '1000287': 1,
 '1000291': 1,
 '1000294': 2,
 '1000308': 2,
 '1000317': 1,
 '1000318': 7,
 '1000323': 3,
 '100033': 1,
 '1000332': 9,
 '1000333': 1,
 '1000334': 1,
 '1000335': 1,
 '1000338': 3,
 '1000339': 1,
 '100034': 20,
 '1000340': 5,
 '1000343': 8,
 '1000347': 5,
 '1000349': 3,
 '100035': 9,
 '1000350': 9,
 '1000355': 1,
 '1000378': 8,
 '100038': 1,
 '1000389': 1,
 '100039': 1,
 '100040': 5,
 '1000404': 1,
 '100041': 1,
 '1000410': 1,
 '1000411': 1,
 '1000416': 1,
 '1000429': 1,
 '1000431': 1,
 '1000433': 6,
 '1000434': 1,
 '1000436': 1,
 '1000439': 1,
 '100044': 1,
 '1000440': 1,
 '1000441': 1,
 '1000442': 1,
 '1000443': 3,
 '1000444': 1,
 '1000445': 1,
 '1000446': 1,
 '1000447': 1,
 '1000448': 1,
 '1000450': 1,
 '1000451': 1,
 '1000453': 1,
 '1000454': 1,
 '1000455': 5,
 '1000457': 2,
 '1000458': 3,
 '1000459': 1,
 '100046': 1,
 '1000463': 24,
 '1000465': 1,
 '1000466': 23,
 '100047': 4,
 '1000478': 1,
 '1000481': 6,
 '1000483': 21,
 '100049': 1,
 '1000491': 1,
 '1000493': 2,
 '1000497': 5,
 '1000498': 4,
 '100050': 2,
 '1000503': 17,
 '1000515': 2,
 '1000516': 6,
 '1000517': 1,
 '1000519': 2,
 '1000523': 1,
 '1000524': 10,
 '1000535': 1,
 '100054': 1,
 '1000550': 1,
 '1000552': 1,
 '1000556': 1,
 '1000558': 4,
 '1000560': 1,
 '1000561': 3,
 '1000563': 7,
 '1000567': 1,
 '1000574': 6,
 '1000576': 1,
 '1000579': 1,
 '100058': 65,
 '1000580': 2,
 '1000586': 1,
 '100060': 1,
 '1000609': 1,
 '1000618': 2,
 '1000619': 5,
 '100062': 3,
 '1000621': 2,
 '1000622': 2,
 '1000624': 1,
 '1000625': 26,
 '1000626': 5,
 '1000627': 3,
 '1000629': 4,
 '1000630': 1,
 '1000631': 1,
 '1000632': 1,
 '1000636': 1,
 '1000639': 13,
 '1000640': 18,
 '1000641': 20,
 '1000643': 1,
 '1000644': 5,
 '1000647': 1,
 '1000648': 4,
 '1000649': 1,
 '100065': 1,
 '1000651': 1,
 '1000652': 2,
 '1000653': 1,
 '1000654': 8,
 '1000655': 1,
 '1000656': 1,
 '1000658': 2,
 '1000661': 1,
 '1000662': 1,
 '1000663': 2,
 '1000664': 3,
 '1000665': 3,
 '1000668': 1,
 '1000671': 3,
 '1000672': 1,
 '1000673': 7,
 '1000676': 1,
 '1000677': 4,
 '1000678': 1,
 '100068': 4,
 '1000680': 5,
 '1000681': 1,
 '1000682': 1,
 '1000683': 1,
 '1000684': 1,
 '1000685': 9,
 '1000686': 1,
 '100069': 1,
 '1000691': 1,
 '1000695': 1,
 '1000697': 1,
 '1000699': 1,
 '10007': 30,
 '1000701': 4,
 '1000702': 1,
 '1000703': 1,
 '1000708': 6,
 '1000712': 1,
 '1000713': 8,
 '1000723': 8,
 '1000728': 10,
 '1000729': 2,
 '100073': 1,
 '1000732': 2,
 '1000734': 1,
 '1000735': 2,
 '1000739': 10,
 '1000741': 1,
 '1000743': 3,
 '1000744': 1,
 '1000745': 1,
 '1000746': 1,
 '1000747': 1,
 '1000756': 1,
 '1000758': 2,
 '1000759': 4,
 '1000760': 1,
 '1000762': 5,
 '1000764': 3,
 '100077': 2,
 '1000772': 1,
 '1000774': 1,
 '1000776': 2,
 '1000778': 2,
 '100078': 2,
 '1000789': 1,
 '1000790': 11,
 '1000793': 2,
 '1000795': 2,
 '1000798': 1,
 '1000799': 1,
 '100080': 5,
 '1000800': 4,
 '1000801': 1,
 '1000802': 4,
 '1000806': 1,
 '1000808': 5,
 '1000819': 2,
 '1000820': 37,
 '1000824': 3,
 '100083': 1,
 '1000830': 1,
 '100085': 1,
 '1000850': 1,
 '100086': 2,
 '1000866': 11,
 '1000867': 1,
 '100087': 39,
 '1000870': 2,
 '1000871': 1,
 '1000877': 10,
 '1000878': 1,
 '1000879': 2,
 '100088': 1,
 '1000884': 1,
 '1000886': 1,
 '1000895': 7,
 '1000900': 4,
 '1000901': 1,
 '1000908': 4,
 '1000909': 1,
 '1000911': 4,
 '1000912': 1,
 '1000913': 2,
 '100092': 5,
 '1000921': 1,
 '1000924': 2,
 '1000925': 1,
 '1000926': 2,
 '1000927': 3,
 '1000928': 4,
 '1000933': 1,
 '1000940': 11,
 '1000941': 1,
 '1000944': 4,
 '1000945': 1,
 '1000946': 7,
 '1000948': 4,
 '1000949': 1,
 '1000950': 1,
 '1000952': 1,
 '1000960': 1,
 '1000961': 1,
 '1000967': 1,
 '1000983': 1,
 '1000986': 4,
 '1000987': 1,
 '1000988': 1,
 '1000989': 2,
 '100099': 5,
 '1000990': 5,
 '1000991': 6,
 '1000992': 1,
 '1000993': 2,
 '1000994': 2,
 '1000995': 1,
 '1000996': 3,
 '1001': 59,
 '1001000': 3,
 '1001005': 3,
 '1001006': 3,
 '1001014': 3,
 '1001018': 1,
 '1001019': 5,
 '1001020': 2,
 '1001026': 1,
 '1001034': 1,
 '100104': 20,
 '1001054': 1,
 '1001055': 1,
 '1001078': 1,
 '1001083': 2,
 '1001087': 3,
 '1001098': 6,
 '1001102': 2,
 '1001107': 1,
 '1001109': 1,
 '1001114': 3,
 '1001124': 6,
 '1001125': 7,
 '1001127': 3,
 '1001130': 17,
 '1001133': 1,
 '1001135': 1,
 '1001136': 17,
 '1001137': 1,
 '1001139': 1,
 '1001150': 10,
 '1001151': 2,
 '1001152': 1,
 '1001153': 1,
 '1001155': 3,
 '1001169': 5,
 '1001185': 16,
 '1001189': 4,
 '1001190': 26,
 '1001195': 1,
 '100120': 18,
 '1001205': 2,
 '100121': 2,
 '1001210': 5,
 '1001212': 4,
 '1001214': 1,
 '1001216': 1,
 '100122': 3,
 '1001220': 1,
 '1001221': 2,
 '1001223': 3,
 '1001224': 1,
 '1001229': 5,
 '100123': 35,
 '1001232': 1,
 '1001235': 1,
 '1001241': 2,
 '1001251': 2,
 '1001253': 3,
 '1001259': 1,
 '1001266': 1,
 '1001269': 1,
 '100127': 1,
 '1001279': 1,
 '1001280': 1,
 '1001287': 1,
 '1001288': 2,
 '100130': 1,
 '1001306': 4,
 '1001308': 2,
 '100131': 3,
 '1001319': 9,
 '1001324': 7,
 '1001327': 7,
 '1001329': 1,
 '1001330': 1,
 '1001332': 11,
 '1001337': 5,
 '1001344': 1,
 '1001350': 1,
 '1001355': 5,
 '1001359': 1,
 '1001361': 1,
 '1001362': 2,
 '1001369': 1,
 '100137': 2,
 '1001373': 1,
 '1001374': 1,
 '1001375': 2,
 '1001376': 1,
 '1001377': 2,
 '1001378': 1,
 '1001379': 1,
 '100138': 2,
 '1001380': 1,
 '1001381': 1,
 '1001382': 1,
 '1001383': 2,
 '1001384': 1,
 '1001385': 1,
 '1001386': 2,
 '1001387': 1,
 '1001388': 1,
 '1001389': 1,
 '1001390': 6,
 '1001391': 1,
 '1001401': 1,
 '1001409': 6,
 '1001418': 2,
 '1001429': 3,
 '100143': 1,
 '1001437': 4,
 '1001440': 1,
 '1001442': 1,
 '1001443': 1,
 '1001445': 1,
 '1001449': 1,
 '1001450': 5,
 '1001451': 1,
 '1001454': 1,
 '1001455': 1,
 '1001461': 1,
 '1001464': 2,
 '1001465': 1,
 '1001468': 2,
 '1001470': 1,
 '1001475': 3,
 '1001476': 1,
 '1001478': 3,
 '100148': 2,
 '1001480': 3,
 '1001482': 1,
 '1001484': 1,
 '1001485': 1,
 '1001486': 1,
 '1001489': 1,
 '1001491': 1,
 '1001493': 7,
 '1001497': 1,
 '1001499': 1,
 '10015': 7,
 '1001505': 1,
 '1001507': 8,
 '100151': 3,
 '1001511': 2,
 '1001513': 13,
 '1001515': 6,
 '100152': 1,
 '1001520': 4,
 '1001521': 7,
 '100153': 17,
 '1001534': 1,
 '100154': 123,
 '1001543': 1,
 '1001545': 1,
 '1001546': 1,
 '1001549': 1,
 '100155': 6,
 '1001551': 1,
 '100158': 9,
 '100159': 1,
 '1001593': 35,
 '1001596': 5,
 '1001597': 1,
 '100160': 2,
 '1001606': 2,
 '1001611': 2,
 '1001613': 1,
 '1001617': 6,
 '1001621': 1,
 '1001624': 1,
 '1001625': 3,
 '1001626': 1,
 '100163': 3,
 '1001634': 2,
 '1001637': 1,
 '100164': 1,
 '1001641': 1,
 '1001643': 36,
 '1001645': 1,
 '1001646': 1,
 '1001655': 1,
 '1001656': 1,
 '100166': 9,
 '1001662': 1,
 '1001663': 2,
 '1001666': 1,
 '1001669': 1,
 '1001671': 2,
 '1001673': 4,
 '1001675': 1,
 '1001676': 6,
 '100168': 1,
 '1001684': 2,
 '1001686': 2,
 '1001687': 4,
 '1001689': 1,
 '100169': 35,
 '1001690': 2,
 '1001691': 1,
 '1001694': 7,
 '1001697': 6,
 '1001698': 1,
 '100170': 6,
 '1001700': 1,
 '1001702': 1,
 '1001704': 11,
 '1001705': 2,
 '1001706': 1,
 '100171': 4,
 '1001714': 1,
 '1001715': 6,
 '1001719': 1,
 '100172': 5,
 '1001724': 1,
 '1001725': 1,
 '1001726': 1,
 '1001727': 20,
 '1001730': 1,
 '1001734': 5,
 '1001735': 2,
 '1001737': 1,
 '1001744': 2,
 '1001746': 3,
 '1001747': 1,
 '1001748': 1,
 '1001753': 2,
 '1001760': 2,
 '1001761': 2,
 '100177': 5,
 '1001773': 1,
 '1001774': 4,
 '1001776': 1,
 '1001777': 1,
 '1001778': 1,
 '1001779': 3,
 '1001780': 4,
 '1001781': 8,
 '1001782': 2,
 '1001783': 3,
 '1001788': 2,
 '1001792': 1,
 '1001801': 4,
 '1001802': 3,
 '1001810': 1,
 '1001812': 2,
 '1001813': 1,
 '1001819': 1,
 '1001821': 1,
 '1001823': 3,
 '1001829': 2,
 '1001835': 8,
 '100184': 6,
 '1001840': 1,
 '1001841': 1,
 '1001853': 1,
 '1001854': 4,
 '1001865': 1,
 '1001872': 1,
 '1001878': 2,
 '1001885': 10,
 '1001900': 7,
 '1001905': 18,
 '1001906': 1,
 '1001908': 1,
 '1001911': 3,
 '1001915': 1,
 '1001916': 33,
 '1001918': 3,
 '1001924': 31,
 '1001927': 18,
 '1001928': 4,
 '1001929': 5,
 '1001931': 2,
 '1001933': 14,
 '1001938': 6,
 '100194': 4,
 '1001942': 4,
 '1001943': 4,
 '1001944': 2,
 '1001946': 6,
 '1001949': 27,
 '1001951': 2,
 '1001952': 2,
 '1001953': 3,
 '1001954': 3,
 '1001958': 8,
 '1001964': 1,
 '1001965': 2,
 '1001966': 6,
 '1001967': 2,
 '1001969': 4,
 '100197': 2,
 '1001975': 5,
 '1001976': 1,
 '1001977': 1,
 '1001981': 2,
 '1001982': 5,
 '1001983': 3,
 '100199': 19,
 '1001994': 1,
 '1001997': 1,
 '100200': 8,
 '1002002': 2,
 '1002003': 1,
 '1002007': 4,
 '1002011': 1,
 '1002016': 1,
 '100202': 64,
 '1002021': 1,
 '1002024': 5,
 '1002026': 4,
 '1002030': 5,
 '1002031': 1,
 '1002037': 5,
 '1002039': 1,
 '100204': 5,
 '1002040': 1,
 '1002042': 2,
 '1002043': 1,
 '1002044': 2,
 '1002050': 1,
 '1002052': 1,
 '1002053': 1,
 '100206': 1,
 '1002061': 1,
 '1002062': 1,
 '1002063': 18,
 '1002064': 1,
 '1002065': 2,
 '1002066': 1,
 '1002068': 1,
 '1002069': 4,
 '100207': 2,
 '1002070': 1,
 '1002073': 1,
 '1002076': 3,
 '1002077': 5,
 '100208': 1,
 '1002080': 4,
 '1002081': 7,
 '1002082': 1,
 '1002084': 4,
 '1002087': 2,
 '1002088': 2,
 '1002089': 7,
 '100209': 1,
 '1002097': 4,
 '1002098': 2,
 '1002102': 1,
 '1002104': 1,
 '1002108': 1,
 '1002109': 1,
 '1002113': 3,
 '1002115': 1,
 '1002116': 1,
 '1002123': 3,
 '1002124': 10,
 '1002125': 2,
 '1002127': 2,
 '1002128': 3,
 '1002131': 2,
 '1002132': 4,
 '1002138': 3,
 '1002139': 1,
 '100214': 6,
 '1002140': 5,
 '1002142': 2,
 '1002144': 1,
 '1002146': 3,
 '1002148': 4,
 '100215': 25,
 '1002151': 1,
 '1002153': 2,
 '1002157': 1,
 '100217': 7,
 '1002175': 1,
 '1002176': 3,
 '1002178': 11,
 '1002179': 4,
 '100218': 4,
 '1002181': 1,
 '1002183': 1,
 '1002185': 1,
 '1002192': 1,
 '100221': 11,
 '1002214': 1,
 '1002215': 19,
 '1002230': 6,
 '1002231': 2,
 '1002232': 3,
 '1002233': 6,
 '1002234': 3,
 '1002239': 1,
 '100224': 3,
 '1002240': 1,
 '1002242': 3,
 '1002243': 7,
 '1002244': 1,
 '1002246': 2,
 '100225': 11,
 '1002250': 1,
 '1002251': 1,
 '1002252': 1,
 '1002253': 4,
 '1002254': 3,
 '1002255': 4,
 '1002256': 2,
 '1002260': 1,
 '1002262': 1,
 '1002274': 1,
 '1002276': 1,
 '1002284': 1,
 '1002286': 1,
 '1002291': 4,
 '1002292': 3,
 '1002293': 6,
 '1002294': 1,
 '100230': 4,
 '100231': 2,
 '1002313': 1,
 '1002314': 4,
 '1002315': 1,
 '1002318': 1,
 '1002321': 1,
 '1002322': 1,
 '1002323': 1,
 '1002324': 3,
 '1002325': 1,
 '1002326': 2,
 '1002327': 1,
 '1002328': 1,
 '1002331': 2,
 '1002332': 1,
 '1002333': 2,
 '1002335': 1,
 '1002336': 1,
 '1002337': 1,
 '1002338': 1,
 '1002339': 3,
 '100234': 4,
 '1002340': 1,
 '1002343': 3,
 '1002344': 3,
 '1002345': 3,
 '1002347': 1,
 '100235': 1,
 '1002355': 6,
 '1002357': 3,
 '1002358': 2,
 '1002360': 1,
 '1002361': 9,
 '1002364': 1,
 '1002368': 1,
 '1002372': 2,
 '1002373': 35,
 '1002374': 1,
 '1002375': 1,
 '1002376': 1,
 '1002378': 5,
 '1002380': 4,
 '1002384': 1,
 '1002385': 11,
 '1002386': 1,
 '1002387': 1,
 '1002388': 4,
 '1002389': 1,
 '10024': 17,
 '1002401': 1,
 '1002402': 1,
 '1002405': 1,
 '1002406': 1,
 '1002408': 1,
 '1002409': 2,
 '100241': 2,
 '1002410': 9,
 '1002415': 2,
 '1002422': 1,
 '1002431': 1,
 '1002433': 1,
 '1002434': 17,
 '1002435': 1,
 '1002436': 2,
 '1002437': 3,
 '1002438': 1,
 '100244': 3,
 '1002440': 2,
 '1002441': 4,
 '1002443': 7,
 '1002444': 24,
 '1002447': 1,
 '1002448': 13,
 '1002452': 1,
 '1002454': 1,
 '1002457': 18,
 '1002458': 3,
 '1002459': 3,
 '100246': 1,
 '1002462': 5,
 '1002463': 2,
 '1002465': 1,
 '1002468': 1,
 '1002474': 20,
 '1002479': 1,
 '1002481': 39,
 '1002486': 1,
 '1002493': 3,
 '1002495': 3,
 '10025': 177,
 '1002502': 5,
 '1002508': 1,
 '1002509': 2,
 '1002510': 2,
 '1002514': 1,
 '1002524': 1,
 '1002532': 1,
 '1002535': 2,
 '1002536': 17,
 '1002537': 1,
 '1002538': 1,
 '1002539': 1,
 '100254': 2,
 '1002541': 3,
 '1002542': 1,
 '1002543': 7,
 '1002544': 2,
 '1002546': 1,
 '1002548': 1,
 '1002549': 1,
 '1002550': 1,
 '1002553': 1,
 '1002555': 10,
 '1002556': 1,
 '1002562': 1,
 '1002565': 1,
 '1002566': 1,
 '1002572': 3,
 '1002587': 1,
 '1002588': 9,
 '1002589': 6,
 '1002590': 1,
 '1002591': 1,
 '1002594': 1,
 '1002598': 1,
 '1002599': 4,
 '10026': 44,
 '100260': 2,
 '1002605': 1,
 '1002608': 2,
 '100261': 1,
 '1002613': 1,
 '1002615': 1,
 '1002616': 1,
 '1002621': 1,
 '1002623': 2,
 '1002635': 1,
 '1002636': 1,
 '1002637': 3,
 '1002638': 1,
 '1002640': 2,
 '1002641': 1,
 '1002647': 1,
 '100265': 5,
 '1002650': 1,
 '1002651': 6,
 '1002663': 1,
 '1002671': 1,
 '1002672': 23,
 '1002673': 13,
 '1002674': 1,
 '1002676': 1,
 '1002677': 2,
 '1002678': 2,
 '1002679': 1,
 '1002680': 1,
 '1002691': 1,
 '1002693': 4,
 '1002696': 2,
 '1002706': 1,
 '1002744': 5,
 '1002749': 1,
 '1002755': 1,
 '1002756': 5,
 '1002757': 2,
 '1002760': 6,
 '1002761': 1,
 '1002765': 1,
 '1002768': 1,
 '1002771': 3,
 '1002773': 1,
 '1002783': 3,
 '1002786': 3,
 '1002787': 2,
 '1002788': 4,
 '1002790': 2,
 '1002793': 2,
 '1002796': 1,
 '1002802': 3,
 '1002804': 1,
 '1002806': 1,
 '1002807': 1,
 '1002808': 1,
 '1002809': 2,
 '1002810': 1,
 '1002811': 1,
 '1002812': 2,
 '1002814': 1,
 '1002815': 1,
 '1002816': 1,
 '1002817': 1,
 '1002818': 1,
 '100282': 1,
 '1002821': 2,
 '1002822': 1,
 '1002824': 1,
 '1002826': 2,
 '1002827': 1,
 '1002828': 2,
 '1002830': 3,
 '1002831': 2,
 '1002833': 1,
 '1002834': 3,
 '1002836': 2,
 '1002837': 1,
 '1002843': 1,
 '1002846': 1,
 '1002847': 1,
 '1002848': 1,
 '1002849': 2,
 '100285': 1,
 '1002850': 1,
 '1002854': 1,
 '1002855': 2,
 '1002861': 3,
 '1002862': 1,
 '1002865': 1,
 '1002870': 4,
 '1002871': 4,
 '1002872': 3,
 '100288': 1,
 '1002893': 4,
 '1002894': 1,
 '100290': 1,
 '100291': 20,
 '1002918': 1,
 '1002919': 1,
 '1002927': 2,
 '100293': 1,
 '1002930': 9,
 ...}

In [9]:
# First element of the list will be the "main" instance of the artist
changes_list = list(map(
    lambda artist_list: sorted(artist_list, key=lambda artist: artist_freqs.get(str(artist), 0), reverse=True),
    changes_list
))
changes_list[:5]

[['805193', '182397'],
 ['510355', '510353'],
 ['310099', '472038'],
 ['258876',
  '366859',
  '134438',
  '690598',
  '411300',
  '408293',
  '159973',
  '131031',
  '121353',
  '165609'],
 ['30986', '174009', '475823']]

In [10]:
# Here I create a dict that follows the following:
# Key | Value
# Artist | Main artist
changes_dict = dict()
for artist_list in changes_list:
    main_artist_id = str(artist_list[0])
    for artist in artist_list[1:]:
        if artist_freqs.get(artist, 0) > 0: 
            changes_dict[artist] = main_artist_id

In [11]:
query =\
f"""
SELECT a1.id AS fictional_character, a0.id AS voice_actor
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type = 292
)
"""
changes_292 = pd.read_sql_query(query, engine, dtype=str)
for _, fictional_character, voice_actor in changes_292.itertuples():
    changes_dict[fictional_character] = voice_actor
len(changes_dict)

23755

In [12]:
mask = releases[cols].isin(changes_dict.keys()).any(axis=1)
releases.loc[mask, cols]

           a0_id    a1_id    a2_id    a3_id    a4_id
457      2630975      NaN      NaN      NaN      NaN
813       604380      NaN      NaN      NaN      NaN
900      1875555      NaN      NaN      NaN      NaN
902      2119905      NaN      NaN      NaN      NaN
962      1400830      NaN      NaN      NaN      NaN
...          ...      ...      ...      ...      ...
2841284  2641987  2641986  2641985  2641984  1679364
2841297  2104904  2104903  2041481  1810635  1141182
2841349   741223   535356   352163   284443   180306
2841525  1181250   688686   469344   333071   137868
2841530  1455299   801401   605351   544897   379900

[49179 rows x 5 columns]

In [13]:
# WARNING: ~5m exec time
releases.loc[mask, cols] = releases.loc[mask, cols].replace(changes_dict)

releases.loc[mask, cols]

           a0_id    a1_id    a2_id    a3_id    a4_id
457      1245245      NaN      NaN      NaN      NaN
813       284452      NaN      NaN      NaN      NaN
900      1875579      NaN      NaN      NaN      NaN
902       741269      NaN      NaN      NaN      NaN
962       531216      NaN      NaN      NaN      NaN
...          ...      ...      ...      ...      ...
2841284  2641987  1679364  2641984  2641984  1679364
2841297  1141182  1810635  2041481  1810635  1141182
2841349   741223   203282   158068   190601   180306
2841525   779144   688686   469344   333071   137868
2841530  1089631   801401   605351   544897   379900

[49179 rows x 5 columns]

In [14]:
releases.to_csv("releases_no_va_merged.csv", index=False)

In [15]:
!wc -l releases_no_va_merged.csv

2841557 releases_no_va_merged.csv

## Cleanup

In [16]:
engine.dispose()

In [17]:
!service postgresql stop