# Artist-Artist relationships

By Alejandro Fernández Sánchez

## Setting up the connection

In [1]:
# Just in case you're the host and it's not already started
!service postgresql start

In [2]:
# Imports
from typing import Any
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from concurrent.futures import ProcessPoolExecutor
import os
from dotenv import load_dotenv
import json
load_dotenv()

True

In [3]:
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_PORT = os.getenv("DB_PORT")

In [4]:
# Establishing a connection via postgre's python driver
conn = psycopg2.connect(
    database=DB_NAME,
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASS,
    port=DB_PORT
)
conn

In [5]:
cursor = conn.cursor()  # Helps with querying without memory allocation
cursor

In [6]:
# Helper function
def query_with_cursor(c, q, column_names=False, head=False):
    conn.rollback()  # This is needed if a previous query fails
    c.execute(q)
    if column_names:
        print([col[0] for col in c.description])
    count = 0
    for r in c:
        print(r)
        count += 1
        if head and count == 10:
            break

In [7]:
# Used for saving results to pandas dataframes
engine_url = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(engine_url, pool_size=10, max_overflow=0)
engine

Engine(postgresql://musicbrainz:***@localhost:5432/musicbrainz_db)

## Types of artists relationships

How many are there?

In [8]:
query_with_cursor(
    cursor,
    "SELECT COUNT(*) FROM l_artist_artist"
)

(696360,)

Seems like a fairly big number, let's check how they relate to each other.

In [9]:
query =\
"""
SELECT id, name, description, long_link_phrase
FROM link_type
WHERE entity_type0 = 'artist'
  AND entity_type1 = 'artist'
ORDER BY id
"""
pd.read_sql_query(query, engine)

,id,name,description,long_link_phrase
0,102,collaboration,"This is used to specify that an <a href=""/doc/...",collaborated {minor:minorly} {additional:addit...
1,103,member of band,This indicates a person is a member of a group.,is/was {additional:an|a} {additional} {origina...
2,104,supporting musician,Indicates an artist doing long-time instrument...,is/was a supporting artist for
3,105,instrumental supporting musician,Indicates a musician doing long-time instrumen...,does/did {instrument} support for
4,106,musical relationships,,musical relationship
5,107,vocal supporting musician,Indicates a musician doing long-time vocal sup...,does/did {vocal:%|vocals} support for
6,108,is person,This links an artist's performance name (a sta...,performs as
7,109,parent,Indicates a parent-child relationship.,is the {step}parent of
8,110,sibling,This links two siblings (brothers or sisters).,has {half:half-}{step}sibling
9,111,married,This links artists who were married.,is/was married to
10,112,involved with,Indicates that two persons were romantically i...,is/was romantically involved with
11,113,personal relationship,,personal relationship
12,292,voice actor,This links an (fictional) artist to the person...,performed the voice of
13,305,conductor position,"This indicates that a person is, or was, a con...",is/was {assistant:an|a} {assistant} {principal...
14,722,subgroup,This links a subgroup to the group from which ...,is/was a subgroup of
15,728,tribute,This relationship specifies that an artist is ...,is a tribute to
16,847,teacher,This relationship indicates that a person was ...,taught
17,855,composer-in-residence,This links a group (often an orchestra) to a c...,was a composer-in-residence at
18,895,founder,This indicates an artist (generally a person) ...,founded
19,965,artistic director,"This indicates that a person is, or was, the a...",is/was artistic director for
20,973,named after artist,This indicates the artist that inspired this a...,is named after artist
21,1079,artist rename,This describes a situation where an artist (ge...,was renamed into

It seems like we have 22 possible relationships. They are all important, but there are three that differ from the rest.

Ids 1079 and 108. As I understand them, we should only have one entity of the same artist in the final CSVs. I'm going to store all occurrences of an artist in a list and stay with the most used instance.

Id 292. This relationship links a voice actor with their character.

## Artist dataset

We now have all the information needed to tackle the task of generating an artist dataset. Using relationships 108, 292, 1079 we'll create a list of known ids and names for each artist and store them following the JSONL convention.

The first subtask is to find pairs of entities that represents the same artist.

In [10]:
query =\
f"""
SELECT a0.id AS a0_id, a0.name AS a0_name, a1.id AS a1_id, a1.name AS a1_name
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type IN (1079, 108, 292)
)
"""
pairs = pd.read_sql_query(query, engine, dtype=str)
pairs.drop_duplicates(inplace=True)
pairs

,a0_id,a0_name,a1_id,a1_name
0,805193,Péter Takács,182397,Deto
1,366859,Tobias Lützenkirchen,134438,LXR
2,299983,Henri Sorvali,488532,The Sieg Heil Man
3,305283,Maureen Walsh,493190,Maureen
4,44387,Vincent de Moor,501299,Outline
...,...,...,...,...
74086,196112,Slave Raider,2809141,Chainsaw
74087,1772197,Kaosic,2809271,kaosicwips
74088,2102836,Kenneyon,2809286,KenKen
74089,2809328,David Meredith,1553632,Gudsforladt
74090,2809380,Konstantin Georgievich Baratashvili,2541002,flowless

We now separate each artist in their own list of entities (id and name).

In [11]:
# I've iterated though some algorithms that I came up with and this is the fastest one (that works)
# This algorithm groups all the different (same) artists in a list
seen_dict = dict()
artists_lists = list()
last_idx = -1
for _, row in pairs.iterrows():
    artist0 = {"id": row["a0_id"], "name": row["a0_name"]}
    artist1 = {"id": row["a1_id"], "name": row["a1_name"]}
    if artist0["id"] in seen_dict:
        if artist1["id"] in seen_dict:
            continue
        artist0_idx = seen_dict[artist0["id"]]
        artists_lists[artist0_idx].append(artist1)
        seen_dict[artist1["id"]] = artist0_idx
    elif artist1["id"] in seen_dict:
        artist1_idx = seen_dict[artist1["id"]]
        artists_lists[artist1_idx].append(artist0)
        seen_dict[artist0["id"]] = artist1_idx
    else:
        last_idx += 1
        artists_lists.append([artist0, artist1])
        seen_dict[artist0["id"]] = last_idx
        seen_dict[artist1["id"]] = last_idx
artists_lists[:5]

[[{'id': '805193', 'name': 'Péter Takács'}, {'id': '182397', 'name': 'Deto'}],
 [{'id': '366859', 'name': 'Tobias Lützenkirchen'},
  {'id': '134438', 'name': 'LXR'},
  {'id': '131031', 'name': 'Karosa'},
  {'id': '121353', 'name': 'Richthoven'},
  {'id': '411300', 'name': 'Lu Tracks'},
  {'id': '258876', 'name': 'Lützenkirchen'},
  {'id': '408293', 'name': 'L.Y.T.Z.'},
  {'id': '165609', 'name': '7-7-0'},
  {'id': '159973', 'name': 'Toby Lee Connor'},
  {'id': '690598', 'name': 'Paratopic'}],
 [{'id': '299983', 'name': 'Henri Sorvali'},
  {'id': '488532', 'name': 'The Sieg Heil Man'}],
 [{'id': '305283', 'name': 'Maureen Walsh'},
  {'id': '493190', 'name': 'Maureen'}],
 [{'id': '44387', 'name': 'Vincent de Moor'},
  {'id': '501299', 'name': 'Outline'},
  {'id': '383291', 'name': 'Flashbang'},
  {'id': '444700', 'name': 'Emerald'},
  {'id': '847529', 'name': 'Extract'},
  {'id': '154886', 'name': 'Sidewalk'},
  {'id': '102837', 'name': 'Fix to Fax'},
  {'id': '60141', 'name': 'VDM'}]]

We now need to find which artist instance is the most common. For that we're going to be using the `releases_no_va.csv` dataset.

In [12]:
releases = pd.read_csv("releases_no_va.csv", dtype=str)
releases.fillna("", inplace=True)
releases

,name,date,artist_credit,artist_count,a0_id,a0_name,tags,a1_id,a1_name,a2_id,a2_name,a3_id,a3_name,a4_id,a4_name
0,!,2020-08-06,119635,1,119635,Kevin Drumm,"159660, 148804, 1769, 166",,,,,,,,
1,Sad Boy Song #39,2023-04-21,1384884,1,1167315,Smokey Brights,,,,,,,,,
2,Sad Boy Songs,2019-06-28,2222601,1,1667572,Captain Johnny Sausage,,,,,,,,,
3,Sad Boy Stomp,2018-06-01,2760005,1,2010087,King Strang,"6844, 2485, 46031, 1416, 127, 71, 75",,,,,,,,
4,Sad Boy Summer,2021-08-27,2775906,1,2020450,Negative 25,"1100, 1211, 1091, 20",,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2959864,Glowing Up,2021-06-11,3222555,5,2290023,TUSO,,2290022,Tudor,2118382,Milwin,1886127,Discrete,1184231,Sofia Karlberg
2959865,Glowing Up (stripped),2021-08-20,3222555,5,2290023,TUSO,,2290022,Tudor,2118382,Milwin,1886127,Discrete,1184231,Sofia Karlberg
2959866,Glück,2015-04-22,2490708,5,1530048,Christian Wolfarth,,1114541,Enrico Malatesta,809427,Ingar Zach,430419,Michael Vorfeld,416657,Burkhard Beins
2959867,Go From My Window: Music for the Virginal,1994-09-27,2814928,5,464137,Colin Tilney,,291593,John Bull,124235,Orlando Gibbons,103870,Jan Pieterszoon Sweelinck,12435,William Byrd
2959868,잊지마,2015-01-03,1438016,5,1205355,Loota,,1205354,JayAllDay,1205352,Keith Ape,1129217,KOHH,1033122,Okasian

In [13]:
id_columns = [f"a{i}_id" for i in range(5)]
artist_freqs = (releases[id_columns].melt().groupby(by=["value"]).count()).to_dict(index="value")["variable"]
artist_freqs

{'': 11358942,
 '10': 6,
 '1000': 45,
 '1000007': 1,
 '1000008': 2,
 '1000017': 1,
 '100002': 1,
 '1000025': 1,
 '100003': 1,
 '100004': 4,
 '1000049': 1,
 '100005': 2,
 '1000058': 1,
 '1000060': 3,
 '1000067': 7,
 '1000068': 2,
 '1000073': 1,
 '1000077': 1,
 '1000078': 1,
 '1000079': 1,
 '1000080': 17,
 '1000081': 3,
 '1000082': 3,
 '1000083': 1,
 '1000085': 2,
 '100009': 1,
 '1000095': 1,
 '1000096': 2,
 '1000107': 1,
 '1000112': 1,
 '100012': 15,
 '1000120': 2,
 '1000121': 1,
 '1000130': 3,
 '1000131': 1,
 '1000135': 12,
 '1000138': 10,
 '100014': 1,
 '1000143': 3,
 '1000144': 1,
 '1000146': 1,
 '1000147': 2,
 '1000148': 1,
 '1000150': 1,
 '1000151': 1,
 '1000154': 2,
 '1000155': 2,
 '1000156': 1,
 '1000157': 1,
 '1000158': 3,
 '1000159': 2,
 '1000161': 4,
 '1000164': 1,
 '1000167': 1,
 '1000168': 3,
 '100017': 3,
 '1000170': 1,
 '1000171': 11,
 '100018': 2,
 '1000182': 1,
 '1000187': 1,
 '1000188': 5,
 '1000196': 4,
 '1000199': 2,
 '100020': 4,
 '1000200': 1,
 '1000202': 5,
 '1000204': 4,
 '1000205': 1,
 '1000206': 2,
 '1000207': 4,
 '1000208': 1,
 '100021': 6,
 '1000210': 5,
 '1000213': 3,
 '1000214': 4,
 '1000218': 1,
 '1000222': 1,
 '1000223': 1,
 '1000224': 1,
 '1000232': 2,
 '1000234': 1,
 '1000235': 1,
 '1000239': 1,
 '100025': 6,
 '1000250': 1,
 '1000251': 3,
 '1000252': 4,
 '1000253': 1,
 '1000254': 1,
 '1000256': 1,
 '1000259': 1,
 '100026': 1,
 '1000260': 1,
 '1000261': 1,
 '1000272': 5,
 '100028': 10,
 '1000287': 1,
 '1000291': 1,
 '1000294': 2,
 '1000308': 2,
 '1000317': 1,
 '1000318': 7,
 '1000323': 3,
 '100033': 1,
 '1000332': 9,
 '1000333': 1,
 '1000334': 1,
 '1000335': 1,
 '1000338': 3,
 '1000339': 1,
 '100034': 20,
 '1000340': 5,
 '1000343': 9,
 '1000347': 5,
 '1000349': 3,
 '100035': 9,
 '1000350': 9,
 '1000355': 1,
 '1000378': 8,
 '100038': 1,
 '1000389': 1,
 '100039': 1,
 '100040': 5,
 '1000404': 1,
 '100041': 1,
 '1000410': 1,
 '1000411': 1,
 '1000416': 1,
 '1000429': 1,
 '1000431': 1,
 '1000433': 6,
 '1000434': 1,
 '1000436': 1,
 '1000439': 1,
 '100044': 1,
 '1000440': 1,
 '1000441': 1,
 '1000442': 1,
 '1000443': 3,
 '1000444': 1,
 '1000445': 1,
 '1000446': 1,
 '1000447': 1,
 '1000448': 1,
 '1000450': 1,
 '1000451': 1,
 '1000453': 1,
 '1000454': 1,
 '1000455': 5,
 '1000457': 2,
 '1000458': 3,
 '1000459': 1,
 '100046': 1,
 '1000463': 24,
 '1000465': 1,
 '1000466': 23,
 '100047': 4,
 '1000478': 1,
 '1000481': 6,
 '1000483': 22,
 '100049': 1,
 '1000491': 1,
 '1000493': 2,
 '1000497': 5,
 '1000498': 4,
 '100050': 2,
 '1000503': 17,
 '1000515': 2,
 '1000516': 6,
 '1000517': 1,
 '1000519': 2,
 '1000523': 1,
 '1000524': 10,
 '1000535': 1,
 '100054': 1,
 '1000550': 1,
 '1000552': 1,
 '1000556': 1,
 '1000558': 4,
 '1000560': 1,
 '1000561': 3,
 '1000563': 7,
 '1000567': 1,
 '1000574': 6,
 '1000576': 1,
 '1000579': 1,
 '100058': 66,
 '1000580': 2,
 '1000586': 1,
 '100060': 1,
 '1000609': 1,
 '1000618': 2,
 '1000619': 5,
 '100062': 3,
 '1000621': 2,
 '1000622': 2,
 '1000624': 1,
 '1000625': 28,
 '1000626': 5,
 '1000627': 3,
 '1000629': 5,
 '1000630': 1,
 '1000631': 1,
 '1000632': 1,
 '1000636': 1,
 '1000639': 13,
 '1000640': 18,
 '1000641': 20,
 '1000643': 1,
 '1000644': 5,
 '1000647': 1,
 '1000648': 4,
 '1000649': 1,
 '100065': 1,
 '1000651': 1,
 '1000652': 3,
 '1000653': 1,
 '1000654': 8,
 '1000655': 1,
 '1000656': 1,
 '1000658': 2,
 '1000661': 1,
 '1000662': 1,
 '1000663': 2,
 '1000664': 3,
 '1000665': 3,
 '1000668': 1,
 '1000671': 3,
 '1000672': 1,
 '1000673': 7,
 '1000676': 1,
 '1000677': 4,
 '1000678': 1,
 '100068': 4,
 '1000680': 5,
 '1000681': 1,
 '1000682': 1,
 '1000683': 1,
 '1000684': 1,
 '1000685': 9,
 '1000686': 1,
 '100069': 1,
 '1000691': 1,
 '1000695': 1,
 '1000697': 1,
 '1000699': 1,
 '10007': 30,
 '1000701': 4,
 '1000702': 1,
 '1000703': 1,
 '1000708': 6,
 '1000712': 1,
 '1000713': 9,
 '1000723': 8,
 '1000728': 10,
 '1000729': 2,
 '100073': 1,
 '1000732': 2,
 '1000734': 1,
 '1000735': 2,
 '1000739': 10,
 '1000741': 1,
 '1000743': 3,
 '1000744': 1,
 '1000745': 1,
 '1000746': 1,
 '1000747': 1,
 '1000756': 1,
 '1000758': 2,
 '1000759': 4,
 '1000760': 1,
 '1000762': 6,
 '1000764': 3,
 '100077': 2,
 '1000772': 1,
 '1000774': 1,
 '1000776': 2,
 '1000778': 2,
 '100078': 2,
 '1000789': 1,
 '1000790': 11,
 '1000793': 2,
 '1000795': 2,
 '1000798': 1,
 '1000799': 1,
 '100080': 5,
 '1000800': 4,
 '1000801': 1,
 '1000802': 4,
 '1000804': 1,
 '1000806': 1,
 '1000808': 5,
 '1000819': 2,
 '1000820': 37,
 '1000824': 3,
 '100083': 1,
 '1000830': 1,
 '100085': 1,
 '1000850': 1,
 '100086': 2,
 '1000866': 11,
 '1000867': 1,
 '100087': 39,
 '1000870': 2,
 '1000871': 1,
 '1000877': 10,
 '1000878': 1,
 '1000879': 2,
 '100088': 1,
 '1000884': 1,
 '1000886': 1,
 '1000895': 7,
 '1000900': 4,
 '1000901': 1,
 '1000908': 4,
 '1000909': 1,
 '1000911': 4,
 '1000912': 1,
 '1000913': 2,
 '100092': 5,
 '1000921': 1,
 '1000924': 2,
 '1000925': 1,
 '1000926': 2,
 '1000927': 3,
 '1000928': 4,
 '1000933': 1,
 '1000940': 13,
 '1000941': 1,
 '1000944': 4,
 '1000945': 1,
 '1000946': 7,
 '1000948': 4,
 '1000949': 1,
 '1000950': 1,
 '1000952': 1,
 '1000960': 1,
 '1000961': 1,
 '1000967': 1,
 '1000983': 1,
 '1000986': 4,
 '1000987': 1,
 '1000988': 1,
 '1000989': 2,
 '100099': 5,
 '1000990': 5,
 '1000991': 6,
 '1000992': 1,
 '1000993': 2,
 '1000994': 2,
 '1000995': 1,
 '1000996': 3,
 '1001': 60,
 '1001000': 3,
 '1001005': 3,
 '1001006': 3,
 '1001014': 3,
 '1001018': 1,
 '1001019': 5,
 '1001020': 2,
 '1001026': 1,
 '1001034': 1,
 '100104': 20,
 '1001054': 1,
 '1001055': 1,
 '1001078': 1,
 '1001083': 2,
 '1001087': 3,
 '1001098': 6,
 '1001102': 2,
 '1001107': 1,
 '1001109': 1,
 '1001114': 4,
 '1001124': 6,
 '1001125': 7,
 '1001127': 4,
 '1001130': 17,
 '1001133': 1,
 '1001135': 1,
 '1001136': 17,
 '1001137': 1,
 '1001139': 1,
 '1001150': 10,
 '1001151': 2,
 '1001152': 1,
 '1001153': 1,
 '1001155': 3,
 '1001169': 5,
 '1001185': 16,
 '1001189': 4,
 '1001190': 26,
 '1001195': 1,
 '100120': 18,
 '1001205': 2,
 '100121': 2,
 '1001210': 5,
 '1001212': 4,
 '1001214': 1,
 '1001216': 1,
 '100122': 3,
 '1001220': 1,
 '1001221': 2,
 '1001223': 3,
 '1001224': 1,
 '1001229': 5,
 '100123': 35,
 '1001232': 1,
 '1001235': 1,
 '1001241': 2,
 '1001251': 2,
 '1001253': 3,
 '1001259': 1,
 '1001266': 1,
 '1001269': 1,
 '100127': 1,
 '1001279': 1,
 '1001280': 1,
 '1001287': 1,
 '1001288': 2,
 '100130': 1,
 '1001306': 4,
 '1001308': 2,
 '100131': 3,
 '1001319': 9,
 '1001324': 7,
 '1001327': 7,
 '1001329': 1,
 '1001330': 1,
 '1001332': 11,
 '1001337': 5,
 '1001344': 1,
 '1001350': 1,
 '1001355': 5,
 '1001359': 1,
 '1001361': 1,
 '1001362': 2,
 '1001369': 1,
 '100137': 2,
 '1001373': 1,
 '1001374': 1,
 '1001375': 2,
 '1001376': 1,
 '1001377': 2,
 '1001378': 1,
 '1001379': 1,
 '100138': 2,
 '1001380': 1,
 '1001381': 1,
 '1001382': 1,
 '1001383': 2,
 '1001384': 1,
 '1001385': 1,
 '1001386': 2,
 '1001387': 1,
 '1001388': 1,
 '1001389': 1,
 '1001390': 6,
 '1001391': 1,
 '1001401': 1,
 '1001409': 6,
 '1001418': 2,
 '1001429': 3,
 '100143': 1,
 '1001437': 4,
 '1001440': 1,
 '1001442': 1,
 '1001443': 4,
 '1001445': 1,
 '1001449': 1,
 '1001450': 5,
 '1001451': 1,
 '1001454': 1,
 '1001455': 1,
 '1001461': 1,
 '1001464': 2,
 '1001465': 1,
 '1001468': 2,
 '1001470': 1,
 '1001475': 3,
 '1001476': 1,
 '1001478': 3,
 '100148': 2,
 '1001480': 3,
 '1001482': 1,
 '1001484': 1,
 '1001485': 1,
 '1001486': 1,
 '1001489': 1,
 '1001491': 1,
 '1001493': 7,
 '1001497': 1,
 '1001499': 1,
 '10015': 7,
 '1001505': 1,
 '1001507': 8,
 '100151': 3,
 '1001511': 2,
 '1001513': 13,
 '1001515': 6,
 '100152': 1,
 '1001520': 4,
 '1001521': 7,
 '100153': 17,
 '1001534': 1,
 '100154': 127,
 '1001543': 1,
 '1001545': 1,
 '1001546': 1,
 '1001549': 1,
 '100155': 6,
 '1001551': 1,
 '100158': 9,
 '100159': 1,
 '1001593': 35,
 '1001596': 5,
 '1001597': 1,
 '100160': 2,
 '1001606': 2,
 '1001611': 2,
 '1001613': 1,
 '1001617': 6,
 '1001621': 1,
 '1001624': 1,
 '1001625': 4,
 '1001626': 1,
 '100163': 3,
 '1001634': 2,
 '1001637': 1,
 '100164': 1,
 '1001641': 1,
 '1001643': 37,
 '1001645': 1,
 '1001646': 1,
 '1001655': 1,
 '1001656': 1,
 '100166': 9,
 '1001662': 1,
 '1001663': 2,
 '1001666': 1,
 '1001669': 1,
 '1001671': 2,
 '1001673': 4,
 '1001675': 1,
 '1001676': 6,
 '100168': 1,
 '1001684': 2,
 '1001686': 2,
 '1001687': 6,
 '1001689': 1,
 '100169': 36,
 '1001690': 2,
 '1001691': 1,
 '1001694': 7,
 '1001697': 6,
 '1001698': 1,
 '100170': 6,
 '1001700': 1,
 '1001702': 1,
 '1001704': 11,
 '1001705': 2,
 '1001706': 1,
 '100171': 4,
 '1001711': 1,
 '1001714': 1,
 '1001715': 6,
 '1001719': 1,
 '100172': 5,
 '1001724': 1,
 '1001725': 1,
 '1001726': 1,
 '1001727': 20,
 '1001730': 1,
 '1001734': 5,
 '1001735': 2,
 '1001737': 1,
 '1001744': 2,
 '1001746': 3,
 '1001747': 1,
 '1001748': 1,
 '1001753': 2,
 '1001760': 2,
 '1001761': 5,
 '100177': 5,
 '1001773': 1,
 '1001774': 4,
 '1001776': 1,
 '1001777': 1,
 '1001778': 1,
 '1001779': 3,
 '1001780': 4,
 '1001781': 8,
 '1001782': 2,
 '1001783': 3,
 '1001788': 2,
 '1001792': 1,
 '1001801': 4,
 '1001802': 3,
 '1001810': 1,
 '1001812': 2,
 '1001813': 1,
 '1001819': 1,
 '1001821': 1,
 '1001823': 3,
 '1001829': 2,
 '1001835': 8,
 '100184': 6,
 '1001840': 1,
 '1001841': 1,
 '1001853': 1,
 '1001854': 4,
 '1001865': 1,
 '1001872': 1,
 '1001878': 2,
 '1001885': 16,
 '1001900': 7,
 '1001905': 18,
 '1001906': 1,
 '1001908': 1,
 '1001911': 3,
 '1001915': 1,
 '1001916': 34,
 '1001918': 3,
 '1001924': 31,
 '1001927': 18,
 '1001928': 4,
 '1001929': 5,
 '1001931': 2,
 '1001933': 14,
 '1001938': 6,
 '100194': 4,
 '1001942': 4,
 '1001943': 4,
 '1001944': 2,
 '1001946': 6,
 '1001949': 27,
 '1001951': 2,
 '1001952': 2,
 '1001953': 3,
 '1001954': 3,
 '1001958': 8,
 '1001964': 1,
 '1001965': 2,
 '1001966': 6,
 '1001967': 2,
 '1001969': 4,
 '100197': 2,
 '1001975': 5,
 '1001976': 1,
 '1001977': 1,
 '1001981': 2,
 '1001982': 5,
 '1001983': 3,
 '100199': 19,
 '1001994': 1,
 '1001997': 1,
 '100200': 8,
 '1002002': 2,
 '1002003': 1,
 '1002007': 4,
 '1002011': 1,
 '1002016': 1,
 '100202': 65,
 '1002021': 1,
 '1002024': 5,
 '1002026': 4,
 '1002030': 5,
 '1002031': 1,
 '1002037': 5,
 '1002039': 1,
 '100204': 5,
 '1002040': 1,
 '1002042': 2,
 '1002043': 1,
 '1002044': 2,
 '1002050': 1,
 '1002052': 1,
 '1002053': 1,
 '100206': 1,
 '1002061': 1,
 '1002062': 1,
 '1002063': 18,
 '1002064': 1,
 '1002065': 2,
 '1002066': 1,
 '1002068': 1,
 '1002069': 4,
 '100207': 2,
 '1002070': 1,
 '1002073': 1,
 '1002076': 3,
 '1002077': 5,
 '100208': 1,
 '1002080': 4,
 '1002081': 7,
 '1002082': 1,
 '1002084': 4,
 '1002087': 3,
 '1002088': 2,
 '1002089': 7,
 '100209': 1,
 '1002097': 4,
 '1002098': 2,
 '1002102': 1,
 '1002104': 1,
 '1002108': 1,
 '1002109': 1,
 '1002113': 3,
 '1002115': 1,
 '1002116': 1,
 '1002123': 3,
 '1002124': 10,
 '1002125': 2,
 '1002127': 2,
 '1002128': 3,
 '1002131': 2,
 '1002132': 4,
 '1002138': 3,
 '1002139': 1,
 '100214': 6,
 '1002140': 5,
 '1002142': 2,
 '1002144': 1,
 '1002146': 3,
 '1002148': 4,
 '100215': 25,
 '1002151': 1,
 '1002153': 2,
 '1002157': 2,
 '100217': 7,
 '1002175': 1,
 '1002176': 3,
 '1002178': 11,
 '1002179': 4,
 '100218': 4,
 '1002181': 1,
 '1002183': 1,
 '1002185': 1,
 '1002192': 1,
 '100221': 11,
 '1002214': 1,
 '1002215': 21,
 '1002230': 6,
 '1002231': 2,
 '1002232': 3,
 '1002233': 6,
 '1002234': 3,
 '1002239': 1,
 '100224': 3,
 '1002240': 1,
 '1002242': 3,
 '1002243': 7,
 '1002244': 1,
 '1002246': 2,
 '100225': 11,
 '1002250': 1,
 '1002251': 1,
 '1002252': 1,
 '1002253': 5,
 '1002254': 4,
 '1002255': 5,
 '1002256': 2,
 '1002260': 1,
 '1002262': 1,
 '1002274': 1,
 '1002276': 1,
 '1002284': 1,
 '1002286': 1,
 '1002291': 4,
 '1002292': 3,
 '1002293': 6,
 '1002294': 1,
 '100230': 4,
 '100231': 2,
 '1002313': 1,
 '1002314': 4,
 '1002315': 1,
 '1002318': 1,
 '1002321': 1,
 '1002322': 1,
 '1002323': 1,
 '1002324': 3,
 '1002325': 1,
 '1002326': 2,
 '1002327': 1,
 '1002328': 1,
 '1002330': 1,
 '1002331': 2,
 '1002332': 1,
 '1002333': 2,
 '1002335': 1,
 '1002336': 1,
 '1002337': 1,
 '1002338': 1,
 '1002339': 3,
 '100234': 4,
 '1002340': 1,
 '1002343': 3,
 '1002344': 3,
 '1002345': 3,
 '1002347': 1,
 '100235': 1,
 '1002355': 6,
 '1002357': 3,
 '1002358': 2,
 '1002360': 1,
 '1002361': 9,
 '1002364': 1,
 '1002368': 1,
 '1002372': 2,
 '1002373': 35,
 '1002374': 1,
 '1002375': 1,
 '1002376': 1,
 '1002378': 5,
 '1002380': 4,
 '1002384': 1,
 '1002385': 15,
 '1002386': 1,
 '1002387': 1,
 '1002388': 4,
 '1002389': 1,
 '10024': 17,
 '1002401': 1,
 '1002402': 1,
 '1002405': 1,
 '1002406': 1,
 '1002408': 1,
 '1002409': 2,
 '100241': 2,
 '1002410': 9,
 '1002415': 2,
 '1002422': 1,
 '1002431': 1,
 '1002433': 1,
 '1002434': 18,
 '1002435': 1,
 '1002436': 2,
 '1002437': 3,
 '1002438': 1,
 '100244': 3,
 '1002440': 2,
 '1002441': 4,
 '1002443': 7,
 '1002444': 36,
 '1002447': 1,
 '1002448': 13,
 '1002452': 1,
 '1002454': 1,
 '1002457': 18,
 '1002458': 3,
 '1002459': 3,
 '100246': 1,
 '1002462': 5,
 '1002463': 2,
 '1002465': 1,
 '1002468': 1,
 '1002474': 23,
 '1002479': 1,
 '1002481': 43,
 '1002486': 1,
 '1002493': 3,
 '1002495': 3,
 '10025': 178,
 '1002502': 5,
 '1002508': 1,
 '1002509': 2,
 '1002510': 2,
 '1002514': 1,
 '1002524': 1,
 '1002532': 1,
 '1002535': 2,
 '1002536': 17,
 '1002537': 1,
 '1002538': 1,
 '1002539': 1,
 '100254': 2,
 '1002541': 3,
 '1002542': 1,
 '1002543': 7,
 '1002544': 2,
 '1002546': 1,
 '1002548': 1,
 '1002549': 1,
 '1002550': 1,
 '1002553': 1,
 '1002555': 10,
 '1002556': 1,
 '1002562': 1,
 '1002565': 1,
 '1002566': 1,
 '1002572': 3,
 '1002587': 1,
 '1002588': 9,
 '1002589': 6,
 '1002590': 1,
 '1002591': 1,
 '1002594': 1,
 '1002598': 1,
 '1002599': 4,
 '10026': 44,
 '100260': 3,
 '1002605': 1,
 '1002608': 2,
 '100261': 1,
 '1002613': 1,
 '1002615': 1,
 '1002616': 1,
 '1002621': 1,
 '1002623': 2,
 '1002635': 1,
 '1002636': 1,
 '1002637': 3,
 '1002638': 1,
 '1002640': 2,
 '1002641': 1,
 '1002647': 1,
 '100265': 7,
 '1002650': 1,
 '1002651': 6,
 '1002663': 1,
 '1002671': 1,
 '1002672': 23,
 '1002673': 13,
 '1002674': 1,
 '1002676': 1,
 '1002677': 2,
 '1002678': 3,
 '1002679': 1,
 '1002680': 1,
 '1002691': 1,
 '1002693': 4,
 '1002696': 2,
 '1002706': 1,
 '1002744': 5,
 '1002749': 1,
 '1002755': 1,
 '1002756': 5,
 '1002757': 2,
 '1002760': 6,
 '1002761': 1,
 '1002765': 1,
 '1002768': 1,
 '1002771': 3,
 '1002773': 1,
 '1002783': 3,
 '1002786': 3,
 '1002787': 2,
 '1002788': 4,
 '1002790': 2,
 '1002793': 2,
 '1002796': 1,
 '1002802': 3,
 '1002804': 1,
 '1002806': 1,
 '1002807': 1,
 '1002808': 1,
 '1002809': 2,
 '1002810': 1,
 '1002811': 1,
 '1002812': 2,
 '1002814': 1,
 '1002815': 1,
 '1002816': 1,
 '1002817': 1,
 '1002818': 1,
 '100282': 1,
 '1002821': 2,
 '1002822': 1,
 '1002824': 1,
 '1002826': 2,
 '1002827': 1,
 '1002828': 2,
 '1002830': 3,
 '1002831': 2,
 '1002833': 1,
 '1002834': 3,
 '1002836': 2,
 '1002837': 1,
 '1002843': 1,
 '1002846': 1,
 '1002847': 1,
 '1002848': 1,
 '1002849': 2,
 '100285': 1,
 '1002850': 1,
 '1002854': 1,
 '1002855': 2,
 '1002861': 3,
 '1002862': 1,
 '1002865': 1,
 '1002870': 4,
 '1002871': 4,
 '1002872': 3,
 '100288': 1,
 '1002880': 1,
 '1002893': 4,
 '1002894': 1,
 '100290': 1,
 '100291': 20,
 ...}

We are now ready to sort the lists so that the most common instance is the first element of the list.

In [14]:
# First element of the list will be the "main" instance of the artist
artists_lists = list(map(
    lambda artist_list: sorted(artist_list, key=lambda artist: artist_freqs.get(artist["id"], 0), reverse=True),
    artists_lists
))
artists_lists[:5]

[[{'id': '805193', 'name': 'Péter Takács'}, {'id': '182397', 'name': 'Deto'}],
 [{'id': '258876', 'name': 'Lützenkirchen'},
  {'id': '366859', 'name': 'Tobias Lützenkirchen'},
  {'id': '134438', 'name': 'LXR'},
  {'id': '690598', 'name': 'Paratopic'},
  {'id': '411300', 'name': 'Lu Tracks'},
  {'id': '408293', 'name': 'L.Y.T.Z.'},
  {'id': '159973', 'name': 'Toby Lee Connor'},
  {'id': '131031', 'name': 'Karosa'},
  {'id': '121353', 'name': 'Richthoven'},
  {'id': '165609', 'name': '7-7-0'}],
 [{'id': '299983', 'name': 'Henri Sorvali'},
  {'id': '488532', 'name': 'The Sieg Heil Man'}],
 [{'id': '305283', 'name': 'Maureen Walsh'},
  {'id': '493190', 'name': 'Maureen'}],
 [{'id': '44387', 'name': 'Vincent de Moor'},
  {'id': '444700', 'name': 'Emerald'},
  {'id': '501299', 'name': 'Outline'},
  {'id': '383291', 'name': 'Flashbang'},
  {'id': '847529', 'name': 'Extract'},
  {'id': '154886', 'name': 'Sidewalk'},
  {'id': '102837', 'name': 'Fix to Fax'},
  {'id': '60141', 'name': 'VDM'}]]

So far we've only handled the "multiple instances" artists. The following block of code adds the "single instance" artists to the list. It doesn't matter if we do this after the sort, these lists are going to have only one instance of the artist after all.

In [15]:
# Has to be a better way to do this
# WARNING: ~3m execution time
for _, row in releases.iterrows():
    artists_in_row = (
        {
            "id": row[f"a{i}_id"],
            "name": row[f"a{i}_name"],
        }
        for i in range(5) if row[f"a{i}_id"] != ""
    )
    for artist in artists_in_row:
        if artist["id"] not in seen_dict:
            artists_lists.append([artist])
artists_lists[-5:]

[[{'id': '103870', 'name': 'Jan Pieterszoon Sweelinck'}],
 [{'id': '12435', 'name': 'William Byrd'}],
 [{'id': '1205355', 'name': 'Loota'}],
 [{'id': '1205354', 'name': 'JayAllDay'}],
 [{'id': '1033122', 'name': 'Okasian'}]]

At this point we have a list of lists, the following will transform what we have into a list of dictionaries, ready to be serialized.

In [16]:
artists = list()
for artists_list in artists_lists:
    current_artist = dict()
    current_artist["main_id"] = artists_list[0]["id"]
    current_artist["known_ids"] = [artist["id"] for artist in artists_list]
    current_artist["known_names"] = [artist["name"] for artist in artists_list]
    artists.append(current_artist)
artists[:5]

[{'main_id': '805193',
  'known_ids': ['805193', '182397'],
  'known_names': ['Péter Takács', 'Deto']},
 {'main_id': '258876',
  'known_ids': ['258876',
   '366859',
   '134438',
   '690598',
   '411300',
   '408293',
   '159973',
   '131031',
   '121353',
   '165609'],
  'known_names': ['Lützenkirchen',
   'Tobias Lützenkirchen',
   'LXR',
   'Paratopic',
   'Lu Tracks',
   'L.Y.T.Z.',
   'Toby Lee Connor',
   'Karosa',
   'Richthoven',
   '7-7-0']},
 {'main_id': '299983',
  'known_ids': ['299983', '488532'],
  'known_names': ['Henri Sorvali', 'The Sieg Heil Man']},
 {'main_id': '305283',
  'known_ids': ['305283', '493190'],
  'known_names': ['Maureen Walsh', 'Maureen']},
 {'main_id': '44387',
  'known_ids': ['44387',
   '444700',
   '501299',
   '383291',
   '847529',
   '154886',
   '102837',
   '60141'],
  'known_names': ['Vincent de Moor',
   'Emerald',
   'Outline',
   'Flashbang',
   'Extract',
   'Sidewalk',
   'Fix to Fax',
   'VDM']}]

In [17]:
artists[-5:]

[{'main_id': '103870',
  'known_ids': ['103870'],
  'known_names': ['Jan Pieterszoon Sweelinck']},
 {'main_id': '12435', 'known_ids': ['12435'], 'known_names': ['William Byrd']},
 {'main_id': '1205355', 'known_ids': ['1205355'], 'known_names': ['Loota']},
 {'main_id': '1205354',
  'known_ids': ['1205354'],
  'known_names': ['JayAllDay']},
 {'main_id': '1033122', 'known_ids': ['1033122'], 'known_names': ['Okasian']}]

The only thing left is to actually serialize what we have.

In [18]:
jsons = [json.dumps(artist, ensure_ascii=False) for artist in artists]
unique_jsons = list(set(jsons))

with open("artists.jsonl", "w", encoding="utf-8") as out_file:
    for unique_json in unique_jsons:
        out_file.write(unique_json + "\n")

In [19]:
!wc -l artists.jsonl

810337 artists.jsonl

We can now retrieve the data every time we want.

In [20]:
with open("artists.jsonl", "r", encoding="utf-8") as in_file:
    artist_data = [json.loads(line) for line in in_file]
print(artist_data[:5])

[{'main_id': '2561682', 'known_ids': ['2561682'], 'known_names': ['Denise Boyette']}, {'main_id': '1248371', 'known_ids': ['1248371'], 'known_names': ['Angel Flo']}, {'main_id': '681413', 'known_ids': ['681413'], 'known_names': ['Victoria Baillie']}, {'main_id': '1740637', 'known_ids': ['1740637'], 'known_names': ['Ludger Billerbeck']}, {'main_id': '1359505', 'known_ids': ['1359505'], 'known_names': ['Alex Lacamoire']}]

## Relationships dataset

The next step is to save the relationships between the artists in a CSV file. Let's start collecting the different relationships.

In [21]:
link_types = pd.read_sql_query("SELECT DISTINCT id FROM link_type  WHERE entity_type0 = 'artist' AND entity_type1 = 'artist'", engine)
relationships = pd.DataFrame({
    'id0': [],
    'name0': [],
    'id1': [],
    'name1': [],
    'relationship_type': [],
})
for link_type in filter(lambda lt: lt not in (108, 292, 1079), link_types.id):
    query =\
f"""
SELECT a0.id AS id0, a0.name AS name0, a1.id AS id1, a1.name AS name1, {link_type} AS relationship_type
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type = {link_type}
);
"""
    result = pd.read_sql_query(query, engine, dtype=str)
    if result.empty:
        continue
    relationships = pd.concat([relationships, result])
del result
relationships.drop_duplicates(inplace=True)
relationships

,id0,name0,id1,name1,relationship_type
0,448102,Xoel López,248824,Lovely Luna,102
1,359330,Miley Cyrus,686291,Helping Haiti,102
2,129154,Jay-J,472106,Jay-J & Macari,102
3,267439,Andrew Macari,472106,Jay-J & Macari,102
4,212204,James Blunt,686291,Helping Haiti,102
...,...,...,...,...,...
627,2770439,Frank Ferrar y Su Orquesta,137590,Waldo de los Ríos,973
628,1944261,Maâlem Hamid El Kasri et son Groupe,2774376,Hamid Faraji,973
629,2781260,Friends of Jerry,30866,Jerry Garcia,973
630,405197,Dananananaykroyd,342839,Dan Aykroyd,973
631,2668330,tsew eynak,127482,Ye,973

Now we filter the relationships so that we don't have artists that don't concern us.

In [22]:
mask = relationships[["id0", "id1"]].isin(artist_freqs.keys()).all(axis=1)
filtered_relationships = relationships[mask]
filtered_relationships

,id0,name0,id1,name1,relationship_type
0,448102,Xoel López,248824,Lovely Luna,102
1,359330,Miley Cyrus,686291,Helping Haiti,102
2,129154,Jay-J,472106,Jay-J & Macari,102
3,267439,Andrew Macari,472106,Jay-J & Macari,102
4,212204,James Blunt,686291,Helping Haiti,102
...,...,...,...,...,...
612,2754335,My Little Romance,48734,My Chemical Romance,973
615,2733328,The Erogerigegege,217284,The Gerogerigegege,973
617,2672523,Big Creek Slim and the Cockroaches,1217031,Big Creek Slim,973
618,760760,Ludwig Göransson,1021,Ludwig van Beethoven,973
630,405197,Dananananaykroyd,342839,Dan Aykroyd,973

Now, we have the relationships, but we've made an artist dataset that will help in the task of replacing the non-important id with the main id for each artist. For this task a dictionary will be created.

In [23]:
changes_dict = dict()
for artist in artist_data:
    if len(artist["known_ids"]) > 1:
        for known_id in artist["known_ids"]:
            if known_id != artist["main_id"]:
                changes_dict[known_id] = artist["main_id"]
len(changes_dict)

73158

These are the relationships that we need to modify.

In [24]:
mask = filtered_relationships[["id0", "id1"]].isin(changes_dict.keys()).any(axis=1)
filtered_relationships

,id0,name0,id1,name1,relationship_type
0,448102,Xoel López,248824,Lovely Luna,102
1,359330,Miley Cyrus,686291,Helping Haiti,102
2,129154,Jay-J,472106,Jay-J & Macari,102
3,267439,Andrew Macari,472106,Jay-J & Macari,102
4,212204,James Blunt,686291,Helping Haiti,102
...,...,...,...,...,...
612,2754335,My Little Romance,48734,My Chemical Romance,973
615,2733328,The Erogerigegege,217284,The Gerogerigegege,973
617,2672523,Big Creek Slim and the Cockroaches,1217031,Big Creek Slim,973
618,760760,Ludwig Göransson,1021,Ludwig van Beethoven,973
630,405197,Dananananaykroyd,342839,Dan Aykroyd,973

In [25]:
filtered_relationships.loc[mask, ["id0", "id1"]] = filtered_relationships.loc[mask, ["id0", "id1"]].replace(changes_dict)

filtered_relationships.loc[mask]

,id0,name0,id1,name1,relationship_type
107,83356,Ulrich Pöppelbaum,262073,Tom Borijn,102
114,1206864,John Mitchell,426382,Blind Ego,102
155,288057,Gecko,501793,Heckmann & Gecko,102
183,33137,Dirk Serries,248031,Continuum,102
201,571193,Zzino,198811,Zzino vs. Accelerator,102
...,...,...,...,...,...
561,2281032,Flac Plus,860871,Macintosh Plus,973
565,2281012,MACINTOPOESH POELUS,860871,Macintosh Plus,973
567,2280996,MACINTOSH IACON,860871,Macintosh Plus,973
568,2281030,JUICE PLUS,860871,Macintosh Plus,973
610,1700445,SpongeBOZZ,43102,SpongeBob SquarePants,973

In [26]:
changes_dict["426487"]

'344890'

We can make sure that there are no cyclic references this way (hoping for a False return):

In [27]:
filtered_relationships[["id0", "id1"]].isin(changes_dict.keys()).any(axis=1).any()

False

Now we can finally save our relationships CSV.

In [28]:
filtered_relationships.to_csv("relationships.csv", index=False)

In [29]:
!wc -l relationships.csv

130758 relationships.csv

## Tags

We now can get the tags from the database.

In [30]:
query = """
SELECT artist, STRING_AGG(tag::VARCHAR, ', ') as tags
FROM artist_tag
GROUP BY artist;
"""
tags = pd.read_sql_query(query, engine, dtype=str)
tags = tags[tags["artist"].isin([artist["id"] for artists_list in artists_lists for artist in artists_list])]
tags

         artist                                               tags
1             4  1, 7, 11, 12, 20, 57, 58, 171, 237, 280, 402, ...
2             6        11, 71, 92, 171, 237, 349, 1055, 1072, 1391
3             7                                98, 121, 379, 72115
4             9  10, 11, 12, 58, 77, 559, 709, 1282, 1302, 1498...
5            10                                          111, 1661
...         ...                                                ...
206997  2809052                                               1127
206998  2809066                                    205, 3590, 7112
207002  2809245                                                 11
207008  2809333  11, 19, 186, 634, 1670, 1758, 252782, 253935, ...
207010  2809468                                                147

[159404 rows x 2 columns]

In [31]:
mask = tags["artist"].isin(changes_dict.keys())
tags[mask]

         artist                                           tags
3             7                            98, 121, 379, 72115
294         574                               10, 11, 206, 545
894        2022                                             10
981        2189                                             77
991        2214                                             66
...         ...                                            ...
206943  2806403                                        33, 744
206977  2808038  12, 49, 235, 662, 36080, 39754, 49120, 105557
206978  2808039  12, 49, 235, 662, 36080, 39754, 49120, 105557
206979  2808040  12, 49, 235, 662, 36080, 39754, 49120, 105557
206980  2808063                                       58, 1259

[4877 rows x 2 columns]

In [32]:
tags.loc[mask, "artist"] = tags.loc[mask, "artist"].replace(changes_dict)

We can now save the results for the future.

In [33]:
tags.to_csv("artist_tags.csv", index=False)

## Releases dataset with main IDs

Now that we're here, why not do the same with the releases dataset, which we have already in memory.

In [34]:
mask = releases[id_columns].isin(changes_dict.keys()).any(axis=1)
releases.loc[mask, id_columns]

           a0_id    a1_id    a2_id    a3_id    a4_id
79       2241953
200      2158767
338       599547
353       131234
368      2340195
...          ...      ...      ...      ...      ...
2959589  2641987  2641986  2641985  2641984  1679364
2959594  2104904  2104903  2041481  1810635  1141182
2959650   741223   535356   352163   284443   180306
2959836  1181250   688686   469344   333071   137868
2959841  1455299   801401   605351   544897   379900

[50906 rows x 5 columns]

In [35]:
# WARNING: ~10m execution time
releases.loc[mask, id_columns] = releases.loc[mask, id_columns].replace(changes_dict)

releases.loc[mask, id_columns]

           a0_id    a1_id    a2_id    a3_id    a4_id
79       2402119
200      2156584
338       504252
353       356208
368       118269
...          ...      ...      ...      ...      ...
2959589  2641987  1679364  2641984  2641984  1679364
2959594  1141182  1810635  2041481  1810635  1141182
2959650   741223   203282   158068   190601   180306
2959836   779144   688686   469344   333071   137868
2959841  1089631   801401   605351   544897   379900

[50906 rows x 5 columns]

In [36]:
releases[id_columns].isin(changes_dict.keys()).any(axis=1).any()

False

In [37]:
releases.to_csv("releases_no_va_merged.csv", index=False)

In [38]:
!wc -l releases_no_va_merged.csv

2959870 releases_no_va_merged.csv

## Cleanup

In [39]:
engine.dispose()
conn.close()

In [40]:
!service postgresql stop