# Artist-Artist relationships

By Alejandro Fernández Sánchez

## Setting up the connection

In [1]:
# Just in case you're the host and it's not already started
!service postgresql start

In [46]:
# Imports
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
import json
import dask.dataframe as dd
from dask.distributed import Client
load_dotenv()

True

In [3]:
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_PORT = os.getenv("DB_PORT")

In [4]:
# Establishing a connection via postgre's python driver
conn = psycopg2.connect(
    database=DB_NAME,
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASS,
    port=DB_PORT
)
conn

In [5]:
cursor = conn.cursor()  # Helps with querying without memory allocation
cursor

In [6]:
# Helper function
def query_with_cursor(c, q, column_names=False, head=False):
    conn.rollback()  # This is needed if a previous query fails
    c.execute(q)
    if column_names:
        print([col[0] for col in c.description])
    count = 0
    for r in c:
        print(r)
        count += 1
        if head and count == 10:
            break

In [7]:
# Used for saving results to pandas dataframes
engine_url = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(engine_url, pool_size=10, max_overflow=0)
engine

Engine(postgresql://musicbrainz:***@localhost:5432/musicbrainz_db)

## Types of artists relationships

How many are there?

In [8]:
query_with_cursor(
    cursor,
    "SELECT COUNT(*) FROM l_artist_artist"
)

(711661,)

Seems like a fairly big number, let's check how they relate to each other.

In [9]:
query =\
"""
SELECT id, name, description, long_link_phrase
FROM link_type
WHERE entity_type0 = 'artist'
  AND entity_type1 = 'artist'
ORDER BY id
"""
pd.read_sql_query(query, engine)

,id,name,description,long_link_phrase
0,102,collaboration,"This is used to specify that an <a href=""/doc/...",collaborated {minor:minorly} {additional:addit...
1,103,member of band,This indicates a person is a member of a group.,is/was {additional:an|a} {additional} {origina...
2,104,supporting musician,Indicates an artist doing long-time instrument...,is/was a supporting artist for
3,105,instrumental supporting musician,Indicates a musician doing long-time instrumen...,does/did {instrument} support for
4,106,musical relationships,,musical relationship
5,107,vocal supporting musician,Indicates a musician doing long-time vocal sup...,does/did {vocal:%|vocals} support for
6,108,is person,This links an artist's performance name (a sta...,performs as
7,109,parent,Indicates a parent-child relationship.,is the {step}parent of
8,110,sibling,This links two siblings (brothers or sisters).,has {half:half-}{step}sibling
9,111,married,This links artists who were married.,is/was married to
10,112,involved with,Indicates that two persons were romantically i...,is/was romantically involved with
11,113,personal relationship,,personal relationship
12,292,voice actor,This links an (fictional) artist to the person...,performed the voice of
13,305,conductor position,"This indicates that a person is, or was, a con...",is/was {assistant:an|a} {assistant} {principal...
14,722,subgroup,This links a subgroup to the group from which ...,is/was a subgroup of
15,728,tribute,This relationship specifies that an artist is ...,is a tribute to
16,847,teacher,This relationship indicates that a person was ...,taught
17,855,composer-in-residence,This links a group (often an orchestra) to a c...,was a composer-in-residence at
18,895,founder,This indicates an artist (generally a person) ...,founded
19,965,artistic director,"This indicates that a person is, or was, the a...",is/was artistic director for
20,973,named after artist,This indicates the artist that inspired this a...,is named after artist
21,1079,artist rename,This describes a situation where an artist (ge...,was renamed into

It seems like we have 22 possible relationships. They are all important, but there are three that differ from the rest.

Ids 1079 and 108. As I understand them, we should only have one entity of the same artist in the final CSVs. I'm going to store all occurrences of an artist in a list and stay with the most used instance.

Id 292. This relationship links a voice actor with their character.

## Artist dataset

We now have all the information needed to tackle the task of generating an artist dataset. Using relationships 108, 292, 1079 we'll create a list of known ids and names for each artist and store them following the JSONL convention.

The first subtask is to find pairs of entities that represents the same artist.

In [10]:
query =\
f"""
SELECT a0.id AS a0_id, a0.name AS a0_name, a1.id AS a1_id, a1.name AS a1_name
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type IN (1079, 108, 292)
)
"""
pairs = pd.read_sql_query(query, engine, dtype=str)
pairs.drop_duplicates(inplace=True)
pairs

         a0_id             a0_name    a1_id             a1_name
0       510355           Tom Salta   510353          Atlas Plug
1       515380       Sara Nicholas   512604     DJ Ginger Snapp
2      1816108       Alex Bilowitz  1303285           Alex Bilo
3       285421        Edward Upton   839935                BBII
4       567288  Charles Hilton Jr.   567286                  CJ
...        ...                 ...      ...                 ...
75587  2069733      Luca Tommasini  2850597   Asylum Connection
75588  2069733      Luca Tommasini  2309086  Shadow Echo Canyon
75589   359596      Jaron Martinez   127171          Jaron Inc.
75590  2329220     Ruslan Troknyuk  2346401   Prog Pink Massive
75591  2329220     Ruslan Troknyuk  2346330         Okeazz Elzy

[75540 rows x 4 columns]

We now separate each artist in their own list of entities (id and name).

In [11]:
# I've iterated though some algorithms that I came up with and this is the fastest one (that works)
# This algorithm groups all the different (same) artists in a list
seen_dict = dict()
artists_lists = list()
last_idx = -1
for _, row in pairs.iterrows():
    artist0 = {"id": row["a0_id"], "name": row["a0_name"]}
    artist1 = {"id": row["a1_id"], "name": row["a1_name"]}
    if artist0["id"] in seen_dict:
        if artist1["id"] in seen_dict:
            continue
        artist0_idx = seen_dict[artist0["id"]]
        artists_lists[artist0_idx].append(artist1)
        seen_dict[artist1["id"]] = artist0_idx
    elif artist1["id"] in seen_dict:
        artist1_idx = seen_dict[artist1["id"]]
        artists_lists[artist1_idx].append(artist0)
        seen_dict[artist0["id"]] = artist1_idx
    else:
        last_idx += 1
        artists_lists.append([artist0, artist1])
        seen_dict[artist0["id"]] = last_idx
        seen_dict[artist1["id"]] = last_idx
artists_lists[:5]

[[{'id': '510355', 'name': 'Tom Salta'},
  {'id': '510353', 'name': 'Atlas Plug'}],
 [{'id': '515380', 'name': 'Sara Nicholas'},
  {'id': '512604', 'name': 'DJ Ginger Snapp'}],
 [{'id': '1816108', 'name': 'Alex Bilowitz'},
  {'id': '1303285', 'name': 'Alex Bilo'}],
 [{'id': '285421', 'name': 'Edward Upton'},
  {'id': '839935', 'name': 'BBII'},
  {'id': '167634', 'name': 'EDMX'},
  {'id': '119129', 'name': 'Bass Potato'},
  {'id': '329053', 'name': 'Ed DMX'},
  {'id': '329054', 'name': 'David Michael Cross'},
  {'id': '64070', 'name': 'DMX Krew'},
  {'id': '105617', 'name': 'Computor Rockers'},
  {'id': '204935', 'name': 'Michael Knight'},
  {'id': '690681', 'name': '101 Force'},
  {'id': '1043503', 'name': 'Asylum Seekers'}],
 [{'id': '567288', 'name': 'Charles Hilton Jr.'},
  {'id': '567286', 'name': 'CJ'}]]

We now need to find which artist instance is the most common. For that we're going to be using the `tracks_no_va.csv` dataset.

In [12]:
tracks = pd.read_csv("../data/tracks_no_va.csv", dtype=str)
tracks.fillna("", inplace=True)
tracks

,name,date,year,month,artist_count,a0_id,a0_name,tags,a1_id,a1_name,a2_id,a2_name,a3_id,a3_name,a4_id,a4_name
0,*~ƒint_vœr!~*,201612,2016,12,1,2808021,Julius Androide,,,,,,,,,
1,roots of resonance,202410,2024,10,1,1567845,Kebun,,,,,,,,,
2,roots of resistance,202404,2024,4,1,414004,Darkness,,,,,,,,,
3,roots of renewal lie in native soil,201802,2018,2,1,1998753,:Dieux Des Cimetières:,"75, 148438, 1349, 47463, 77158, 2063, 1421, 16...",,,,,,,,
4,roots of regret,201104,2011,4,1,999272,Krisu,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24317061,half a dozen mc's,201113,2011,13,5,1154205,Ricko,,860519,Sus,860517,Messiahbolical,336309,Pyrelli,162646,Funky DL
24317062,half awake,201911,2019,11,5,2061657,Niaque,,1574533,Philipp Brämswig,1257597,David Helm,1169590,Stefan Karl Schmid,1167410,Fabian Arends
24317063,half dead,201208,2012,8,5,981802,Stu Bangas,235,791534,Vanderslice,721231,Roc Marciano,121498,Apathy,56162,Planet Asia
24317064,hallelujah,202110,2021,10,5,2249779,Colm R. McGuinness,,1546928,Thomas Sanders,1490678,Dan Vasc,1230974,Jonathan Young,1090885,Caleb Hyles
24317065,～メイドカフェ編～chapter.6 カフェ・ド・アイドル閉店・・・,200607,2006,7,5,822084,水瀬伊織,,543760,萩原雪歩,543759,秋月律子,488619,如月千早,488616,天海春香

In [13]:
len(tracks)

24317066

In [14]:
id_columns = [f"a{i}_id" for i in range(5)]
artist_freqs = (tracks[id_columns].melt().groupby(by=["value"]).count()).to_dict(index="value")["variable"]
artist_freqs

{'': 93797954,
 '10': 48,
 '1000': 148,
 '100000': 1,
 '1000000': 2,
 '1000001': 1,
 '1000002': 1,
 '1000003': 3,
 '1000004': 2,
 '1000005': 1,
 '1000006': 1,
 '1000007': 5,
 '1000008': 2,
 '1000010': 3,
 '1000011': 1,
 '1000012': 1,
 '1000013': 1,
 '1000014': 1,
 '1000015': 1,
 '1000016': 1,
 '1000017': 3,
 '1000018': 1,
 '1000019': 2,
 '100002': 5,
 '1000020': 3,
 '1000021': 3,
 '1000022': 1,
 '1000023': 1,
 '1000024': 3,
 '1000025': 3,
 '1000026': 2,
 '1000027': 2,
 '100003': 8,
 '1000032': 5,
 '1000034': 1,
 '1000035': 2,
 '100004': 20,
 '1000046': 1,
 '1000049': 2,
 '100005': 17,
 '1000056': 2,
 '1000057': 4,
 '1000058': 13,
 '100006': 1,
 '1000061': 1,
 '1000066': 5,
 '1000067': 42,
 '1000068': 8,
 '1000070': 1,
 '1000071': 2,
 '1000073': 4,
 '1000074': 1,
 '1000075': 6,
 '1000076': 6,
 '1000077': 6,
 '1000078': 10,
 '1000079': 10,
 '1000080': 32,
 '1000081': 40,
 '1000082': 25,
 '1000083': 19,
 '1000085': 15,
 '1000086': 5,
 '1000087': 3,
 '1000088': 3,
 '100009': 3,
 '1000090': 2,
 '1000091': 8,
 '1000092': 2,
 '1000093': 1,
 '1000095': 15,
 '1000096': 23,
 '1000097': 2,
 '1000098': 1,
 '100010': 1,
 '1000107': 10,
 '100011': 2,
 '1000110': 1,
 '1000112': 1,
 '1000113': 1,
 '1000114': 1,
 '100012': 85,
 '1000120': 15,
 '1000121': 21,
 '1000130': 29,
 '1000131': 12,
 '1000135': 166,
 '1000136': 1,
 '1000137': 2,
 '1000139': 1,
 '100014': 1,
 '1000140': 1,
 '1000141': 1,
 '1000143': 72,
 '1000144': 5,
 '1000146': 7,
 '1000147': 9,
 '1000148': 8,
 '100015': 2,
 '1000150': 8,
 '1000151': 4,
 '1000152': 3,
 '1000153': 1,
 '1000154': 32,
 '1000155': 10,
 '1000157': 2,
 '1000158': 62,
 '1000159': 13,
 '1000161': 22,
 '1000162': 5,
 '1000164': 5,
 '1000165': 1,
 '1000166': 1,
 '1000167': 22,
 '1000168': 28,
 '100017': 15,
 '1000170': 18,
 '1000171': 31,
 '1000173': 1,
 '1000176': 3,
 '1000178': 1,
 '1000179': 1,
 '100018': 16,
 '1000180': 1,
 '1000181': 1,
 '1000182': 3,
 '1000183': 1,
 '1000184': 1,
 '1000185': 1,
 '1000186': 4,
 '1000187': 13,
 '1000188': 35,
 '1000193': 1,
 '1000196': 22,
 '1000199': 12,
 '100020': 28,
 '1000200': 12,
 '1000202': 35,
 '1000204': 29,
 '1000205': 13,
 '1000207': 28,
 '1000208': 9,
 '100021': 51,
 '1000210': 29,
 '1000213': 42,
 '1000214': 53,
 '1000218': 1,
 '1000222': 2,
 '1000223': 8,
 '1000224': 14,
 '1000227': 1,
 '1000229': 5,
 '100023': 1,
 '1000231': 1,
 '1000232': 30,
 '1000233': 2,
 '1000234': 14,
 '1000235': 16,
 '1000237': 1,
 '1000238': 1,
 '1000239': 22,
 '100024': 1,
 '1000240': 1,
 '1000241': 1,
 '1000242': 1,
 '1000243': 1,
 '1000244': 1,
 '1000245': 1,
 '1000246': 1,
 '1000247': 1,
 '1000248': 1,
 '100025': 29,
 '1000250': 20,
 '1000251': 14,
 '1000252': 78,
 '1000253': 4,
 '1000254': 10,
 '1000255': 1,
 '1000256': 3,
 '1000259': 55,
 '100026': 3,
 '1000260': 8,
 '1000261': 8,
 '1000263': 2,
 '1000265': 3,
 '1000266': 1,
 '1000267': 1,
 '1000268': 1,
 '1000272': 45,
 '100028': 42,
 '1000287': 11,
 '1000291': 4,
 '1000292': 1,
 '1000294': 29,
 '1000300': 2,
 '1000302': 1,
 '1000307': 3,
 '1000308': 71,
 '1000310': 1,
 '1000311': 6,
 '1000312': 13,
 '1000315': 1,
 '1000316': 1,
 '1000317': 3,
 '1000318': 33,
 '1000322': 6,
 '1000323': 38,
 '1000329': 1,
 '100033': 6,
 '1000331': 3,
 '1000332': 30,
 '1000333': 2,
 '1000334': 9,
 '1000335': 16,
 '1000336': 4,
 '1000337': 3,
 '1000338': 27,
 '1000339': 3,
 '100034': 108,
 '1000340': 21,
 '1000341': 1,
 '1000343': 49,
 '1000345': 2,
 '1000349': 47,
 '100035': 47,
 '1000350': 58,
 '1000355': 6,
 '1000374': 1,
 '1000378': 8,
 '100038': 4,
 '1000386': 4,
 '1000389': 5,
 '100039': 7,
 '1000391': 1,
 '1000392': 3,
 '1000397': 1,
 '100040': 51,
 '1000400': 2,
 '1000401': 1,
 '1000402': 1,
 '1000404': 1,
 '1000407': 3,
 '100041': 4,
 '1000410': 10,
 '1000411': 12,
 '1000414': 1,
 '1000415': 1,
 '1000416': 2,
 '1000417': 1,
 '1000418': 1,
 '1000419': 1,
 '1000420': 1,
 '1000421': 1,
 '1000422': 1,
 '1000423': 1,
 '1000424': 3,
 '1000429': 12,
 '1000431': 5,
 '1000432': 3,
 '1000433': 21,
 '1000434': 4,
 '1000436': 5,
 '1000439': 7,
 '100044': 6,
 '1000440': 7,
 '1000441': 8,
 '1000442': 1,
 '1000443': 8,
 '1000444': 5,
 '1000445': 6,
 '1000446': 9,
 '1000447': 3,
 '1000448': 6,
 '1000450': 22,
 '1000451': 22,
 '1000452': 1,
 '1000453': 10,
 '1000454': 10,
 '1000455': 74,
 '1000457': 36,
 '1000458': 23,
 '1000459': 8,
 '100046': 3,
 '1000460': 3,
 '1000461': 1,
 '1000463': 44,
 '1000465': 10,
 '1000466': 106,
 '100047': 42,
 '1000478': 6,
 '1000481': 33,
 '1000482': 1,
 '1000483': 114,
 '1000484': 6,
 '1000485': 2,
 '1000486': 1,
 '1000487': 2,
 '1000488': 2,
 '100049': 7,
 '1000491': 11,
 '1000492': 1,
 '1000493': 22,
 '1000494': 6,
 '1000497': 35,
 '1000498': 26,
 '100050': 6,
 '1000503': 111,
 '1000505': 1,
 '1000506': 1,
 '1000507': 2,
 '1000508': 1,
 '1000509': 1,
 '1000510': 2,
 '1000511': 1,
 '1000512': 1,
 '1000514': 1,
 '1000515': 24,
 '1000516': 56,
 '1000517': 11,
 '1000519': 14,
 '1000520': 1,
 '1000521': 2,
 '1000522': 3,
 '1000523': 5,
 '1000524': 45,
 '100053': 3,
 '1000535': 2,
 '1000537': 1,
 '100054': 4,
 '1000542': 1,
 '1000543': 3,
 '1000544': 12,
 '1000545': 1,
 '1000546': 1,
 '1000547': 12,
 '1000548': 3,
 '1000549': 1,
 '1000550': 4,
 '1000552': 1,
 '1000555': 4,
 '1000558': 44,
 '1000559': 1,
 '1000560': 14,
 '1000561': 22,
 '1000563': 41,
 '1000567': 23,
 '1000569': 4,
 '100057': 2,
 '1000570': 1,
 '1000571': 1,
 '1000572': 1,
 '1000573': 6,
 '1000574': 84,
 '1000575': 1,
 '1000576': 14,
 '1000577': 1,
 '1000578': 1,
 '1000579': 7,
 '100058': 253,
 '1000580': 27,
 '1000581': 2,
 '1000582': 2,
 '1000586': 8,
 '1000589': 1,
 '1000590': 1,
 '1000592': 1,
 '1000593': 1,
 '1000594': 1,
 '1000596': 2,
 '100060': 1,
 '1000600': 1,
 '1000602': 1,
 '1000606': 2,
 '1000607': 1,
 '1000609': 10,
 '1000614': 1,
 '1000617': 2,
 '1000618': 28,
 '1000619': 31,
 '100062': 7,
 '1000621': 10,
 '1000622': 9,
 '1000624': 8,
 '1000625': 129,
 '1000626': 42,
 '1000627': 18,
 '1000629': 44,
 '100063': 1,
 '1000630': 2,
 '1000631': 15,
 '1000632': 12,
 '1000633': 1,
 '1000634': 1,
 '1000635': 1,
 '1000636': 15,
 '1000639': 76,
 '100064': 5,
 '1000640': 88,
 '1000641': 71,
 '1000643': 7,
 '1000644': 22,
 '1000646': 11,
 '1000647': 9,
 '1000648': 22,
 '1000649': 10,
 '100065': 2,
 '1000651': 13,
 '1000652': 8,
 '1000653': 6,
 '1000654': 37,
 '1000655': 4,
 '1000656': 11,
 '1000657': 9,
 '1000658': 18,
 '100066': 1,
 '1000661': 6,
 '1000662': 10,
 '1000663': 12,
 '1000664': 23,
 '1000665': 21,
 '1000666': 1,
 '1000667': 14,
 '1000669': 1,
 '100067': 2,
 '1000671': 25,
 '1000672': 8,
 '1000673': 26,
 '1000676': 5,
 '1000677': 23,
 '1000678': 12,
 '100068': 2,
 '1000680': 15,
 '1000681': 10,
 '1000682': 3,
 '1000683': 2,
 '1000684': 12,
 '1000685': 60,
 '1000686': 10,
 '100069': 4,
 '1000691': 3,
 '1000692': 1,
 '1000695': 6,
 '1000697': 9,
 '1000699': 5,
 '10007': 281,
 '100070': 1,
 '1000701': 33,
 '1000702': 1,
 '1000703': 2,
 '1000704': 1,
 '1000705': 3,
 '1000706': 1,
 '1000707': 1,
 '1000708': 116,
 '100071': 1,
 '1000712': 10,
 '1000713': 133,
 '1000720': 1,
 '1000721': 1,
 '1000723': 50,
 '1000725': 1,
 '1000727': 2,
 '1000728': 106,
 '1000729': 12,
 '100073': 9,
 '1000732': 36,
 '1000734': 2,
 '1000735': 4,
 '1000737': 2,
 '1000738': 2,
 '1000739': 43,
 '1000741': 2,
 '1000743': 42,
 '1000744': 2,
 '1000745': 3,
 '1000746': 15,
 '1000747': 1,
 '100075': 1,
 '1000756': 3,
 '1000758': 6,
 '1000759': 39,
 '100076': 5,
 '1000760': 5,
 '1000761': 2,
 '1000762': 44,
 '1000764': 14,
 '1000769': 2,
 '100077': 48,
 '1000772': 2,
 '1000774': 4,
 '1000776': 13,
 '1000778': 8,
 '1000779': 1,
 '100078': 14,
 '1000781': 2,
 '1000783': 1,
 '1000784': 1,
 '1000789': 5,
 '100079': 1,
 '1000790': 38,
 '1000793': 51,
 '1000794': 1,
 '1000795': 13,
 '1000796': 1,
 '1000798': 13,
 '1000799': 20,
 '100080': 17,
 '1000800': 51,
 '1000801': 16,
 '1000802': 66,
 '1000803': 10,
 '1000804': 4,
 '1000805': 7,
 '1000806': 12,
 '1000807': 3,
 '1000808': 28,
 '1000816': 2,
 '1000817': 3,
 '1000818': 1,
 '1000819': 42,
 '1000820': 333,
 '1000823': 1,
 '1000824': 43,
 '1000826': 1,
 '1000828': 1,
 '1000829': 4,
 '100083': 7,
 '1000830': 13,
 '1000831': 3,
 '1000832': 14,
 '1000833': 1,
 '1000834': 1,
 '100084': 2,
 '1000842': 3,
 '1000843': 2,
 '1000844': 2,
 '100085': 9,
 '1000850': 1,
 '1000852': 1,
 '1000853': 1,
 '1000854': 1,
 '1000855': 1,
 '1000856': 1,
 '1000857': 1,
 '1000858': 1,
 '1000859': 1,
 '100086': 16,
 '1000860': 1,
 '1000866': 45,
 '1000867': 11,
 '100087': 218,
 '1000870': 19,
 '1000871': 13,
 '1000873': 1,
 '1000874': 4,
 '1000875': 4,
 '1000876': 1,
 '1000877': 13,
 '1000878': 10,
 '1000879': 20,
 '100088': 7,
 '1000881': 1,
 '1000884': 8,
 '1000886': 10,
 '1000888': 2,
 '1000891': 3,
 '1000895': 24,
 '1000896': 1,
 '1000898': 2,
 '1000900': 54,
 '1000901': 6,
 '1000905': 2,
 '1000906': 2,
 '1000907': 2,
 '1000909': 1,
 '100091': 1,
 '1000911': 27,
 '1000912': 5,
 '1000913': 23,
 '1000914': 1,
 '1000915': 1,
 '1000916': 1,
 '1000917': 2,
 '1000918': 1,
 '1000919': 2,
 '100092': 71,
 '1000920': 2,
 '1000921': 11,
 '1000924': 14,
 '1000925': 14,
 '1000926': 39,
 '1000927': 25,
 '1000928': 27,
 '1000929': 1,
 '100093': 6,
 '1000930': 1,
 '1000931': 1,
 '1000933': 2,
 '1000934': 1,
 '1000935': 1,
 '1000937': 3,
 '1000938': 2,
 '1000939': 1,
 '100094': 1,
 '1000940': 93,
 '1000941': 1,
 '1000943': 3,
 '1000944': 16,
 '1000945': 5,
 '1000946': 84,
 '1000948': 34,
 '1000949': 4,
 '100095': 3,
 '1000950': 10,
 '1000952': 2,
 '1000953': 9,
 '1000954': 1,
 '1000955': 2,
 '1000956': 2,
 '1000957': 2,
 '1000958': 2,
 '1000959': 1,
 '1000960': 10,
 '1000961': 6,
 '1000962': 3,
 '1000963': 1,
 '1000964': 1,
 '1000965': 2,
 '1000967': 7,
 '1000968': 1,
 '100097': 3,
 '1000970': 1,
 '1000971': 1,
 '1000974': 1,
 '1000980': 1,
 '1000982': 1,
 '1000983': 4,
 '1000986': 29,
 '1000987': 13,
 '1000988': 13,
 '1000989': 8,
 '100099': 65,
 '1000990': 26,
 '1000991': 26,
 '1000992': 5,
 '1000993': 10,
 '1000994': 8,
 '1000995': 8,
 '1000996': 13,
 '1000999': 7,
 '1001': 582,
 '1001000': 15,
 '1001001': 2,
 '1001004': 1,
 '1001005': 27,
 '1001006': 24,
 '1001014': 6,
 '1001015': 3,
 '1001017': 3,
 '1001018': 11,
 '1001019': 183,
 '1001020': 23,
 '1001026': 1,
 '100103': 1,
 '1001033': 4,
 '1001034': 8,
 '1001035': 1,
 '1001039': 4,
 '100104': 245,
 '1001051': 10,
 '1001054': 7,
 '1001055': 21,
 '1001063': 1,
 '1001064': 1,
 '1001065': 1,
 '1001075': 16,
 '1001078': 10,
 '1001083': 8,
 '1001084': 1,
 '1001085': 3,
 '1001087': 114,
 '1001088': 1,
 '1001098': 64,
 '1001099': 2,
 '1001100': 1,
 '1001101': 2,
 '1001102': 1,
 '1001103': 1,
 '1001104': 1,
 '1001105': 1,
 '1001106': 1,
 '1001107': 11,
 '1001109': 6,
 '1001114': 34,
 '1001125': 18,
 '1001126': 1,
 '1001127': 71,
 '1001128': 72,
 '1001129': 1,
 '1001130': 54,
 '1001131': 3,
 '1001132': 2,
 '1001133': 5,
 '1001135': 9,
 '1001136': 96,
 '1001137': 2,
 '1001138': 1,
 '1001139': 27,
 '1001148': 8,
 '1001149': 1,
 '1001150': 5,
 '1001151': 13,
 '1001152': 6,
 '1001153': 3,
 '1001155': 20,
 '1001165': 1,
 '1001169': 10,
 '1001172': 1,
 '1001173': 1,
 '1001176': 2,
 '1001185': 63,
 '1001186': 1,
 '1001187': 2,
 '1001188': 2,
 '1001189': 17,
 '1001190': 109,
 '1001195': 10,
 '100120': 228,
 '1001205': 13,
 '1001207': 1,
 '100121': 27,
 '1001210': 26,
 '1001212': 28,
 '1001213': 6,
 '1001214': 13,
 '1001215': 7,
 '1001216': 23,
 '1001218': 2,
 '100122': 20,
 '1001220': 15,
 '1001223': 33,
 '1001224': 15,
 '1001229': 73,
 '100123': 293,
 '1001232': 13,
 '1001235': 5,
 '100124': 2,
 '1001241': 15,
 '1001251': 12,
 '1001253': 7,
 '1001254': 1,
 '1001259': 14,
 '100126': 2,
 '1001260': 1,
 '1001261': 1,
 '1001262': 1,
 '1001263': 1,
 '1001264': 1,
 '1001265': 1,
 '1001266': 5,
 '1001267': 4,
 '1001268': 1,
 '1001269': 11,
 '100127': 3,
 '1001270': 2,
 '1001271': 1,
 '1001272': 1,
 '1001273': 1,
 '1001279': 9,
 '1001280': 25,
 '1001282': 1,
 '1001283': 1,
 '1001284': 1,
 '1001286': 2,
 '1001287': 10,
 '1001288': 22,
 '1001289': 1,
 '1001295': 2,
 '1001296': 2,
 '100130': 8,
 '1001305': 6,
 '1001306': 48,
 '1001308': 5,
 '100131': 28,
 '1001313': 1,
 '1001314': 1,
 '1001315': 1,
 '1001316': 2,
 '1001319': 116,
 '1001323': 1,
 '1001324': 25,
 '1001325': 2,
 '1001327': 40,
 '100133': 4,
 '1001330': 11,
 '1001332': 25,
 '1001334': 1,
 '1001337': 10,
 '1001344': 11,
 '1001350': 1,
 '1001351': 14,
 '1001354': 5,
 '1001355': 24,
 '1001359': 11,
 '1001360': 3,
 '1001361': 7,
 '1001362': 20,
 '1001366': 1,
 '1001368': 1,
 '1001369': 16,
 '100137': 15,
 '1001373': 33,
 '1001374': 33,
 '1001375': 17,
 '1001376': 9,
 '1001377': 12,
 '1001378': 10,
 '1001379': 5,
 '100138': 25,
 '1001380': 8,
 '1001381': 11,
 '1001382': 15,
 '1001383': 15,
 '1001384': 5,
 '1001385': 9,
 '1001386': 18,
 '1001387': 13,
 '1001388': 9,
 '1001389': 12,
 '1001390': 46,
 '1001391': 10,
 '100140': 10,
 '1001401': 15,
 '1001409': 41,
 '1001410': 3,
 '1001418': 24,
 '100142': 6,
 '100143': 12,
 '1001433': 1,
 '100144': 2,
 '1001440': 3,
 '1001442': 14,
 '1001443': 41,
 '1001445': 9,
 '1001449': 52,
 '100145': 9,
 '1001450': 33,
 '1001451': 5,
 '1001453': 6,
 '1001454': 3,
 '1001455': 8,
 '1001456': 1,
 '1001457': 1,
 '1001458': 1,
 '1001459': 1,
 '100146': 13,
 '1001460': 1,
 '1001461': 16,
 '1001464': 15,
 '1001465': 2,
 '1001466': 1,
 '100147': 4,
 '1001470': 4,
 '1001474': 2,
 '1001476': 2,
 '1001477': 2,
 '1001478': 21,
 '1001479': 2,
 '100148': 31,
 '1001480': 21,
 '1001482': 15,
 '1001484': 10,
 '1001485': 9,
 '1001486': 13,
 '1001489': 5,
 '1001491': 13,
 '1001493': 20,
 '1001494': 1,
 '1001495': 1,
 '1001496': 1,
 '1001497': 4,
 '1001499': 10,
 '10015': 46,
 '1001505': 6,
 '1001507': 54,
 '1001508': 1,
 '100151': 17,
 '1001511': 11,
 '1001513': 82,
 '1001515': 47,
 '1001519': 1,
 '100152': 16,
 '1001520': 49,
 '1001521': 128,
 '1001525': 4,
 '1001526': 1,
 '1001528': 1,
 '100153': 106,
 '1001533': 1,
 '1001535': 2,
 '100154': 405,
 '1001543': 13,
 '1001545': 2,
 '1001546': 6,
 '1001549': 12,
 '100155': 58,
 '1001551': 13,
 '1001559': 3,
 '1001561': 2,
 '1001564': 1,
 '1001566': 1,
 '1001571': 1,
 '1001572': 1,
 '1001574': 1,
 '1001576': 1,
 '1001577': 1,
 '1001578': 1,
 '1001579': 1,
 '100158': 77,
 '1001580': 2,
 '1001581': 2,
 '1001582': 1,
 '1001583': 1,
 '1001585': 1,
 '1001587': 1,
 '100159': 10,
 '1001590': 3,
 '1001591': 2,
 '1001593': 133,
 '1001594': 2,
 '1001596': 37,
 '1001597': 13,
 '100160': 12,
 '1001606': 21,
 '1001611': 6,
 '1001612': 2,
 '1001613': 11,
 '1001617': 51,
 '1001618': 2,
 '1001620': 1,
 '1001621': 20,
 '1001624': 11,
 '1001625': 52,
 '1001626': 12,
 '100163': 52,
 '1001634': 22,
 '1001637': 4,
 '100164': 14,
 '1001641': 2,
 '1001643': 253,
 '1001646': 10,
 '1001653': 5,
 '1001655': 10,
 '1001656': 11,
 '1001657': 2,
 '100166': 73,
 '1001660': 1,
 '1001662': 1,
 '1001663': 9,
 '1001666': 2,
 '1001669': 19,
 '1001670': 2,
 '1001671': 34,
 '1001672': 17,
 '1001673': 68,
 '1001674': 6,
 '1001675': 49,
 '1001676': 21,
 '1001677': 3,
 '1001679': 1,
 '100168': 16,
 '1001680': 9,
 '1001681': 2,
 '1001682': 5,
 '1001683': 2,
 '1001686': 22,
 '1001687': 26,
 '1001689': 6,
 '100169': 371,
 '1001690': 10,
 '1001691': 3,
 '1001694': 42,
 '1001695': 2,
 '1001696': 2,
 '1001697': 55,
 '1001698': 5,
 '100170': 50,
 '1001700': 5,
 '1001702': 16,
 '1001704': 71,
 '1001705': 6,
 '1001706': 3,
 '1001707': 2,
 '1001708': 3,
 '100171': 50,
 '1001711': 12,
 '1001714': 11,
 '1001715': 61,
 '1001716': 2,
 '1001719': 1,
 ...}

We are now ready to sort the lists so that the most common instance is the first element of the list.

In [15]:
artist_freqs.get("418540")

457

In [16]:
# First element of the list will be the "main" instance of the artist
artists_lists = list(map(
    lambda artist_list: sorted(artist_list, key=lambda artist: artist_freqs.get(artist["id"], 0), reverse=True),
    artists_lists
))
artists_lists[:5]

[[{'id': '510355', 'name': 'Tom Salta'},
  {'id': '510353', 'name': 'Atlas Plug'}],
 [{'id': '515380', 'name': 'Sara Nicholas'},
  {'id': '512604', 'name': 'DJ Ginger Snapp'}],
 [{'id': '1816108', 'name': 'Alex Bilowitz'},
  {'id': '1303285', 'name': 'Alex Bilo'}],
 [{'id': '64070', 'name': 'DMX Krew'},
  {'id': '329053', 'name': 'Ed DMX'},
  {'id': '105617', 'name': 'Computor Rockers'},
  {'id': '167634', 'name': 'EDMX'},
  {'id': '329054', 'name': 'David Michael Cross'},
  {'id': '204935', 'name': 'Michael Knight'},
  {'id': '690681', 'name': '101 Force'},
  {'id': '839935', 'name': 'BBII'},
  {'id': '1043503', 'name': 'Asylum Seekers'},
  {'id': '119129', 'name': 'Bass Potato'},
  {'id': '285421', 'name': 'Edward Upton'}],
 [{'id': '567286', 'name': 'CJ'},
  {'id': '567288', 'name': 'Charles Hilton Jr.'}]]

So far we've only handled the "multiple instances" artists. The following block of code adds the "single instance" artists to the list. It doesn't matter if we do this after the sort, these lists are going to have only one instance of the artist after all.

In [17]:
# Has to be a better way to do this
# WARNING: ~3m execution time
seen_set = set(seen_dict.keys())
seen_set.add("")
for row_index in range(len(tracks)):
    artists_in_row = [
        {
            "id": tracks.loc[row_index, f"a{i}_id"],
            "name": tracks.loc[row_index, f"a{i}_name"],
        }
        for i in range(5) if tracks.loc[row_index, f"a{i}_id"] not in seen_set
    ]
    if len(artists_in_row) > 0:
        artists_lists.extend([[artist] for artist in artists_in_row])
        seen_set.update(artist["id"] for artist in artists_in_row)

artists_lists[-5:]

[[{'id': '2327895', 'name': 'Sugandha Lad'}],
 [{'id': '2327894', 'name': 'Keya Dutta'}],
 [{'id': '2327893', 'name': 'Sujata Patvi'}],
 [{'id': '2327892', 'name': 'Madhvi Shrivastav'}],
 [{'id': '860517', 'name': 'Messiahbolical'}]]

At this point we have a list of lists, the following will transform what we have into a list of dictionaries, ready to be serialized.

In [18]:
artists = list()
for artists_list in artists_lists:
    current_artist = dict()
    current_artist["main_id"] = artists_list[0]["id"]
    current_artist["known_ids"] = [artist["id"] for artist in artists_list]
    current_artist["known_names"] = [artist["name"] for artist in artists_list]
    artists.append(current_artist)
len(artists)

1488787

In [19]:
artists[:5]

[{'main_id': '510355',
  'known_ids': ['510355', '510353'],
  'known_names': ['Tom Salta', 'Atlas Plug']},
 {'main_id': '515380',
  'known_ids': ['515380', '512604'],
  'known_names': ['Sara Nicholas', 'DJ Ginger Snapp']},
 {'main_id': '1816108',
  'known_ids': ['1816108', '1303285'],
  'known_names': ['Alex Bilowitz', 'Alex Bilo']},
 {'main_id': '64070',
  'known_ids': ['64070',
   '329053',
   '105617',
   '167634',
   '329054',
   '204935',
   '690681',
   '839935',
   '1043503',
   '119129',
   '285421'],
  'known_names': ['DMX Krew',
   'Ed DMX',
   'Computor Rockers',
   'EDMX',
   'David Michael Cross',
   'Michael Knight',
   '101 Force',
   'BBII',
   'Asylum Seekers',
   'Bass Potato',
   'Edward Upton']},
 {'main_id': '567286',
  'known_ids': ['567286', '567288'],
  'known_names': ['CJ', 'Charles Hilton Jr.']}]

In [20]:
artists[-5:]

[{'main_id': '2327895',
  'known_ids': ['2327895'],
  'known_names': ['Sugandha Lad']},
 {'main_id': '2327894',
  'known_ids': ['2327894'],
  'known_names': ['Keya Dutta']},
 {'main_id': '2327893',
  'known_ids': ['2327893'],
  'known_names': ['Sujata Patvi']},
 {'main_id': '2327892',
  'known_ids': ['2327892'],
  'known_names': ['Madhvi Shrivastav']},
 {'main_id': '860517',
  'known_ids': ['860517'],
  'known_names': ['Messiahbolical']}]

The only thing left is to actually serialize what we have.

In [21]:
jsons = [json.dumps(artist, ensure_ascii=False) for artist in artists]
unique_jsons = list(set(jsons))

with open("../data/artists.jsonl", "w", encoding="utf-8") as out_file:
    for unique_json in unique_jsons:
        out_file.write(unique_json + "\n")

In [22]:
!wc -l ../data/artists.jsonl

1488787 ../data/artists.jsonl

We can now retrieve the data every time we want.

In [23]:
with open("../data/artists.jsonl", "r", encoding="utf-8") as in_file:
    artist_data = [json.loads(line) for line in in_file]
print(artist_data[:5])

[{'main_id': '671965', 'known_ids': ['671965'], 'known_names': ['St. Anton Allstars']}, {'main_id': '2385082', 'known_ids': ['2385082'], 'known_names': ['Dead Visions']}, {'main_id': '366612', 'known_ids': ['366612'], 'known_names': ['69']}, {'main_id': '2521086', 'known_ids': ['2521086'], 'known_names': ['Radomir']}, {'main_id': '2742249', 'known_ids': ['2742249'], 'known_names': ['Lili-Violet']}]

## Relationships dataset

The next step is to save the relationships between the artists in a CSV file. Let's start collecting the different relationships.

In [24]:
link_types = pd.read_sql_query("SELECT DISTINCT id FROM link_type  WHERE entity_type0 = 'artist' AND entity_type1 = 'artist'", engine)
relationships = pd.DataFrame({
    'id0': [],
    'name0': [],
    'id1': [],
    'name1': [],
    'relationship_type': [],
})
for link_type in filter(lambda lt: lt not in (108, 292, 1079), link_types.id):
    query =\
f"""
SELECT a0.id AS id0, a0.name AS name0, a1.id AS id1, a1.name AS name1, {link_type} AS relationship_type
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type = {link_type}
);
"""
    result = pd.read_sql_query(query, engine, dtype=str)
    if result.empty:
        continue
    relationships = pd.concat([relationships, result])
del result
relationships.drop_duplicates(inplace=True)
relationships

,id0,name0,id1,name1,relationship_type
0,448102,Xoel López,248824,Lovely Luna,102
1,359330,Miley Cyrus,686291,Helping Haiti,102
2,129154,Jay-J,472106,Jay-J & Macari,102
3,267439,Andrew Macari,472106,Jay-J & Macari,102
4,212204,James Blunt,686291,Helping Haiti,102
...,...,...,...,...,...
645,2668330,tsew eynak,127482,Ye,973
646,1653780,NOTD,2311729,ToWonder,973
647,2263846,HNW Swift,399541,Taylor Swift,973
648,2111653,Sergio Mendes Sextet,2815,Sérgio Mendes,973
649,2847450,New Art Riot,2273,Manic Street Preachers,973

Now we filter the relationships so that we don't have artists that don't concern us.

In [25]:
mask = relationships[["id0", "id1"]].isin(artist_freqs.keys()).all(axis=1)
filtered_relationships = relationships[mask]
filtered_relationships

,id0,name0,id1,name1,relationship_type
0,448102,Xoel López,248824,Lovely Luna,102
1,359330,Miley Cyrus,686291,Helping Haiti,102
2,129154,Jay-J,472106,Jay-J & Macari,102
3,267439,Andrew Macari,472106,Jay-J & Macari,102
4,212204,James Blunt,686291,Helping Haiti,102
...,...,...,...,...,...
640,2837193,Orquesta de Alfredo Brito,1659995,Alfredo Brito,973
644,405197,Dananananaykroyd,342839,Dan Aykroyd,973
645,2668330,tsew eynak,127482,Ye,973
647,2263846,HNW Swift,399541,Taylor Swift,973
648,2111653,Sergio Mendes Sextet,2815,Sérgio Mendes,973

Now, we have the relationships, but we've made an artist dataset that will help in the task of replacing the non-important id with the main id for each artist. For this task a dictionary will be created.

In [26]:
changes_dict = dict()
for artist in artist_data:
    if len(artist["known_ids"]) > 1:
        for known_id in artist["known_ids"]:
            if known_id != artist["main_id"]:
                changes_dict[known_id] = artist["main_id"]
len(changes_dict)

74637

These are the relationships that we need to modify.

In [27]:
mask = filtered_relationships[["id0", "id1"]].isin(changes_dict.keys()).any(axis=1)
filtered_relationships.loc[mask]

         id0               name0      id1            name1 relationship_type
1     359330         Miley Cyrus   686291    Helping Haiti               102
42    268120            Can Oral   272765         Twizzler               102
53    184688         Frank Tovey   195090          Mkultra               102
69    246091    Annika Ljungberg   462582             Lynx               102
73    150262       Mike Fabulous   249659  Fly My Pretties               102
..       ...                 ...      ...              ...               ...
580  2281030          JUICE PLUS   923360   Macintosh Plus               973
581  2707509  homura for android  1558612            暁美ほむら               973
589   895055            Scatwerk      407        Kraftwerk               973
599  2629185                月見英子  2316189             月見英子               973
600  2629186                久遠七海  2316198             久遠七海               973

[11959 rows x 5 columns]

In [28]:
filtered_relationships.loc[mask, ["id0", "id1"]] = filtered_relationships.loc[mask, ["id0", "id1"]].replace(changes_dict)

filtered_relationships.loc[mask]

         id0               name0      id1            name1 relationship_type
1     418540         Miley Cyrus   686291    Helping Haiti               102
42     42684            Can Oral   272765         Twizzler               102
53     46990         Frank Tovey   195090          Mkultra               102
69    275795    Annika Ljungberg   462582             Lynx               102
73    782296       Mike Fabulous   249659  Fly My Pretties               102
..       ...                 ...      ...              ...               ...
580  2281030          JUICE PLUS   860871   Macintosh Plus               973
581  2707509  homura for android   353368            暁美ほむら               973
589  1207493            Scatwerk      407        Kraftwerk               973
599  1577273                月見英子  1423112             月見英子               973
600  2629186                久遠七海   762096             久遠七海               973

[11959 rows x 5 columns]

In [29]:
changes_dict["359330"]

'418540'

We can make sure that there are no cyclic references this way (hoping for a False return):

In [30]:
filtered_relationships[["id0", "id1"]].isin(changes_dict.keys()).any(axis=1).any()

False

Now we can finally save our relationships CSV.

In [31]:
filtered_relationships.to_csv("../data/relationships.csv", index=False)

In [32]:
!wc -l ../data/relationships.csv

213663 ../data/relationships.csv

## Tags

We now can get the tags from the database.

In [33]:
query = """
SELECT artist, STRING_AGG(tag::VARCHAR, ', ') as tags
FROM artist_tag
GROUP BY artist;
"""
tags = pd.read_sql_query(query, engine, dtype=str)
tags = tags[tags["artist"].isin([artist["id"] for artists_list in artists_lists for artist in artists_list])]
tags

         artist                                               tags
1             4  1, 7, 11, 12, 20, 57, 58, 171, 237, 280, 402, ...
2             6        11, 71, 92, 171, 237, 349, 1055, 1072, 1391
3             7                                98, 121, 379, 72115
4             9  10, 11, 12, 58, 77, 559, 709, 1282, 1302, 1498...
5            10                                          111, 1661
...         ...                                                ...
210994  2858077                             19, 1670, 1758, 252782
210995  2858085                                                 77
210996  2858087                                                166
210997  2858096                                  235, 40255, 56565
210998  2858105                          235, 41027, 46919, 146195

[183414 rows x 2 columns]

In [34]:
mask = tags["artist"].isin(changes_dict.keys())
tags[mask]

         artist                       tags
3             7        98, 121, 379, 72115
294         574           10, 11, 206, 545
983        2189                         77
993        2214                         66
1025       2305            675, 1090, 5916
...         ...                        ...
210878  2855368      172, 1259, 3663, 7363
210880  2855373            172, 1259, 7363
210931  2856354     133, 761, 1519, 147653
210952  2856649                     237367
210998  2858105  235, 41027, 46919, 146195

[4757 rows x 2 columns]

In [35]:
tags.loc[mask, "artist"] = tags.loc[mask, "artist"].map(changes_dict)

We can now save the results for the future.

In [36]:
tags.to_csv("../data/artist_tags.csv", index=False)

In [37]:
!wc -l ../data/artist_tags.csv

183415 ../data/artist_tags.csv

In [43]:
# This cell helps with memory issues coming up with the tracks
del tags
del artist_freqs
del artists_lists
del pairs
del seen_dict
del jsons
del unique_json
del filtered_relationships
del relationships
del artist_data
del artists
del seen_set
del tracks

NameError: name 'tags' is not defined

## Tracks dataset with main IDs

Now that we're here, why not do the same with the tracks dataset, which we have already in memory.

In [53]:
dask_client = Client(n_workers=10, threads_per_worker=1)
tracks = dd.read_csv("../data/tracks_no_va.csv", dtype=str)
tracks.fillna("")

/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/distributed/node.py:187: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 40073 instead
  warnings.warn(

In [54]:
mask = tracks[id_columns].isin(changes_dict.keys()).any(axis=1)
tracks.loc[mask, id_columns].compute()

          a0_id    a1_id    a2_id    a3_id    a4_id
58       584452      NaN      NaN      NaN      NaN
68       699948      NaN      NaN      NaN      NaN
81       101011      NaN      NaN      NaN      NaN
130     1674412      NaN      NaN      NaN      NaN
391      135041      NaN      NaN      NaN      NaN
...         ...      ...      ...      ...      ...
579682   715776   624882   564124   341150   191570
579731  1992556  1290124  1290123  1223050  1098832
579750  1855135  1577375   489846   349195   124186
579777  1455299   801401   605351   544897   379900
579838   822084   543760   543759   488619   488616

[369135 rows x 5 columns]

In [55]:
print(tracks.npartitions)

28

In [60]:
tracks.loc[mask, id_columns].replace(changes_dict).compute()

/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)
/home/aleferu/miniforge3/envs/musicbrainz/lib/python3.12/site-packages/dask/utils.py:1241: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return getattr(__obj, self.method)(*args, **kwargs)

KeyboardInterrupt:

In [57]:
tracks.to_csv("../data/tracks_no_va_merged.csv", index=False, single_file=True)

['/home/aleferu/code/python/musicbrainz/study/data/tracks_no_va_merged.csv']

In [59]:
tracks.loc[mask, id_columns].compute()

          a0_id    a1_id    a2_id    a3_id    a4_id
58       584452      NaN      NaN      NaN      NaN
68       699948      NaN      NaN      NaN      NaN
81       101011      NaN      NaN      NaN      NaN
130     1674412      NaN      NaN      NaN      NaN
391      135041      NaN      NaN      NaN      NaN
...         ...      ...      ...      ...      ...
579682   715776   624882   564124   341150   191570
579731  1992556  1290124  1290123  1223050  1098832
579750  1855135  1577375   489846   349195   124186
579777  1455299   801401   605351   544897   379900
579838   822084   543760   543759   488619   488616

[369135 rows x 5 columns]

In [58]:
!wc -l ../data/tracks_no_va_merged.csv

24317067 ../data/tracks_no_va_merged.csv

## Cleanup

In [39]:
engine.dispose()
conn.close()
dask_client.close()

In [40]:
!service postgresql stop