# Artist-Artist relationships

By Alejandro Fernández Sánchez

## Setting up the connection

In [1]:
# Just in case you're the host and it's not already started
!service postgresql start

In [2]:
# Imports
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
import json
load_dotenv()

True

In [3]:
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_PORT = os.getenv("DB_PORT")

In [4]:
# Establishing a connection via postgre's python driver
conn = psycopg2.connect(
    database=DB_NAME,
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASS,
    port=DB_PORT
)
conn

In [5]:
cursor = conn.cursor()  # Helps with querying without memory allocation
cursor

In [6]:
# Helper function
def query_with_cursor(c, q, column_names=False, head=False):
    conn.rollback()  # This is needed if a previous query fails
    c.execute(q)
    if column_names:
        print([col[0] for col in c.description])
    count = 0
    for r in c:
        print(r)
        count += 1
        if head and count == 10:
            break

In [7]:
# Used for saving results to pandas dataframes
engine_url = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(engine_url, pool_size=10, max_overflow=0)
engine

Engine(postgresql://musicbrainz:***@localhost:5432/musicbrainz_db)

## Types of artists relationships

How many are there?

In [8]:
query_with_cursor(
    cursor,
    "SELECT COUNT(*) FROM l_artist_artist"
)

(710951,)

Seems like a fairly big number, let's check how they relate to each other.

In [9]:
query =\
"""
SELECT id, name, description, long_link_phrase
FROM link_type
WHERE entity_type0 = 'artist'
  AND entity_type1 = 'artist'
ORDER BY id
"""
pd.read_sql_query(query, engine)

,id,name,description,long_link_phrase
0,102,collaboration,"This is used to specify that an <a href=""/doc/...",collaborated {minor:minorly} {additional:addit...
1,103,member of band,This indicates a person is a member of a group.,is/was {additional:an|a} {additional} {origina...
2,104,supporting musician,Indicates an artist doing long-time instrument...,is/was a supporting artist for
3,105,instrumental supporting musician,Indicates a musician doing long-time instrumen...,does/did {instrument} support for
4,106,musical relationships,,musical relationship
5,107,vocal supporting musician,Indicates a musician doing long-time vocal sup...,does/did {vocal:%|vocals} support for
6,108,is person,This links an artist's performance name (a sta...,performs as
7,109,parent,Indicates a parent-child relationship.,is the {step}parent of
8,110,sibling,This links two siblings (brothers or sisters).,has {half:half-}{step}sibling
9,111,married,This links artists who were married.,is/was married to
10,112,involved with,Indicates that two persons were romantically i...,is/was romantically involved with
11,113,personal relationship,,personal relationship
12,292,voice actor,This links an (fictional) artist to the person...,performed the voice of
13,305,conductor position,"This indicates that a person is, or was, a con...",is/was {assistant:an|a} {assistant} {principal...
14,722,subgroup,This links a subgroup to the group from which ...,is/was a subgroup of
15,728,tribute,This relationship specifies that an artist is ...,is a tribute to
16,847,teacher,This relationship indicates that a person was ...,taught
17,855,composer-in-residence,This links a group (often an orchestra) to a c...,was a composer-in-residence at
18,895,founder,This indicates an artist (generally a person) ...,founded
19,965,artistic director,"This indicates that a person is, or was, the a...",is/was artistic director for
20,973,named after artist,This indicates the artist that inspired this a...,is named after artist
21,1079,artist rename,This describes a situation where an artist (ge...,was renamed into

It seems like we have 22 possible relationships. They are all important, but there are three that differ from the rest.

Ids 1079 and 108. As I understand them, we should only have one entity of the same artist in the final CSVs. I'm going to store all occurrences of an artist in a list and stay with the most used instance.

Id 292. This relationship links a voice actor with their character.

## Artist dataset

We now have all the information needed to tackle the task of generating an artist dataset. Using relationships 108, 292, 1079 we'll create a list of known ids and names for each artist and store them following the JSONL convention.

The first subtask is to find pairs of entities that represents the same artist.

In [10]:
query =\
f"""
SELECT a0.id AS a0_id, a0.name AS a0_name, a1.id AS a1_id, a1.name AS a1_name
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type IN (1079, 108, 292)
)
"""
pairs = pd.read_sql_query(query, engine, dtype=str)
pairs.drop_duplicates(inplace=True)
pairs

         a0_id             a0_name    a1_id          a1_name
0       510355           Tom Salta   510353       Atlas Plug
1       515380       Sara Nicholas   512604  DJ Ginger Snapp
2      1816108       Alex Bilowitz  1303285        Alex Bilo
3       285421        Edward Upton   839935             BBII
4       567288  Charles Hilton Jr.   567286               CJ
...        ...                 ...      ...              ...
75500  2251310                iNFO  2855446       FACTSIMILE
75501  2033492               橘田ほのか  2464746              Mai
75502  2163165               松ケンスケ   701594           パインツリー
75503  2855355    Milena Krstevska  2239357            Klara
75504  2855355    Milena Krstevska  2020669            Vedis

[75453 rows x 4 columns]

We now separate each artist in their own list of entities (id and name).

In [11]:
# I've iterated though some algorithms that I came up with and this is the fastest one (that works)
# This algorithm groups all the different (same) artists in a list
seen_dict = dict()
artists_lists = list()
last_idx = -1
for _, row in pairs.iterrows():
    artist0 = {"id": row["a0_id"], "name": row["a0_name"]}
    artist1 = {"id": row["a1_id"], "name": row["a1_name"]}
    if artist0["id"] in seen_dict:
        if artist1["id"] in seen_dict:
            continue
        artist0_idx = seen_dict[artist0["id"]]
        artists_lists[artist0_idx].append(artist1)
        seen_dict[artist1["id"]] = artist0_idx
    elif artist1["id"] in seen_dict:
        artist1_idx = seen_dict[artist1["id"]]
        artists_lists[artist1_idx].append(artist0)
        seen_dict[artist0["id"]] = artist1_idx
    else:
        last_idx += 1
        artists_lists.append([artist0, artist1])
        seen_dict[artist0["id"]] = last_idx
        seen_dict[artist1["id"]] = last_idx
artists_lists[:5]

[[{'id': '510355', 'name': 'Tom Salta'},
  {'id': '510353', 'name': 'Atlas Plug'}],
 [{'id': '515380', 'name': 'Sara Nicholas'},
  {'id': '512604', 'name': 'DJ Ginger Snapp'}],
 [{'id': '1816108', 'name': 'Alex Bilowitz'},
  {'id': '1303285', 'name': 'Alex Bilo'}],
 [{'id': '285421', 'name': 'Edward Upton'},
  {'id': '839935', 'name': 'BBII'},
  {'id': '167634', 'name': 'EDMX'},
  {'id': '119129', 'name': 'Bass Potato'},
  {'id': '329054', 'name': 'David Michael Cross'},
  {'id': '105617', 'name': 'Computor Rockers'},
  {'id': '64070', 'name': 'DMX Krew'},
  {'id': '329053', 'name': 'Ed DMX'},
  {'id': '204935', 'name': 'Michael Knight'},
  {'id': '690681', 'name': '101 Force'},
  {'id': '1043503', 'name': 'Asylum Seekers'}],
 [{'id': '567288', 'name': 'Charles Hilton Jr.'},
  {'id': '567286', 'name': 'CJ'}]]

We now need to find which artist instance is the most common. For that we're going to be using the `tracks_no_va.csv` dataset.

In [12]:
tracks = pd.read_csv("../data/tracks_no_va.csv", dtype=str)
tracks.fillna("", inplace=True)
tracks

,name,date,year,month,artist_count,a0_id,a0_name,tags,a1_id,a1_name,a2_id,a2_name,a3_id,a3_name,a4_id,a4_name
0,*~ƒint_vœr!~*,201612,2016,12,1,2808021,Julius Androide,,,,,,,,,
1,round midnight,200706,2007,6,1,493882,Frédéric Loiseau,,,,,,,,,
2,round midnight,200900,2009,0,1,491037,Hank Jones Trio,,,,,,,,,
3,round midnight,198300,1983,0,1,490780,The Oscar Peterson Big 4,,,,,,,,,
4,round midnight,198500,1985,0,1,487956,Harvie Swartz,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24371887,hakuna matata,199400,1994,0,5,835571,Ryan van den Akker,,824938,Jurrian van Dongen,824937,David Verbeek,824936,Door Van Boeckel,56496,B.B. Queen
24371888,hakuna matata,201400,2014,0,5,883117,Krzysztof Tyniec,,702626,Urszula Janowska,702625,Paweł Tucholski,702622,Michał Mech,702621,Emilian Kamiński
24371889,hakuna matata,201500,2015,0,5,2627409,Alfonso Borbolla,,2627397,Oscarín Aguilar,1875805,Sergio Carranza,833798,Carlos Rivera,23323,[theatre]
24371890,hall of fame,202200,2022,0,5,2224956,Yoshio Furukawa,"605, 11, 4190, 359, 14, 2057, 21101, 78699",2224954,Yusup Dalmaz,356101,Vladimír Šimůnek,97700,岩田匡治,97699,崎元仁
24371891,～メイドカフェ編～chapter.6 カフェ・ド・アイドル閉店・・・,200607,2006,7,5,822084,水瀬伊織,,543760,萩原雪歩,543759,秋月律子,488619,如月千早,488616,天海春香

In [16]:
len(tracks)

24371892

In [13]:
id_columns = [f"a{i}_id" for i in range(5)]
artist_freqs = (tracks[id_columns].melt().groupby(by=["value"]).count()).to_dict(index="value")["variable"]
artist_freqs

{'': 94018318,
 '10': 48,
 '1000': 160,
 '100000': 1,
 '1000000': 2,
 '1000001': 1,
 '1000002': 1,
 '1000003': 3,
 '1000004': 2,
 '1000005': 1,
 '1000006': 1,
 '1000007': 5,
 '1000008': 2,
 '1000010': 3,
 '1000011': 1,
 '1000012': 1,
 '1000013': 1,
 '1000014': 1,
 '1000015': 1,
 '1000016': 1,
 '1000017': 3,
 '1000018': 1,
 '1000019': 2,
 '100002': 5,
 '1000020': 3,
 '1000021': 3,
 '1000022': 1,
 '1000023': 1,
 '1000024': 3,
 '1000025': 3,
 '1000026': 2,
 '1000027': 2,
 '100003': 8,
 '1000032': 5,
 '1000034': 1,
 '1000035': 2,
 '100004': 20,
 '1000046': 1,
 '1000049': 2,
 '100005': 17,
 '1000056': 2,
 '1000057': 4,
 '1000058': 13,
 '100006': 1,
 '1000061': 1,
 '1000066': 5,
 '1000067': 42,
 '1000068': 8,
 '1000070': 1,
 '1000071': 2,
 '1000073': 4,
 '1000074': 1,
 '1000075': 6,
 '1000076': 6,
 '1000077': 6,
 '1000078': 10,
 '1000079': 10,
 '1000080': 32,
 '1000081': 40,
 '1000082': 25,
 '1000083': 19,
 '1000085': 15,
 '1000086': 5,
 '1000087': 3,
 '1000088': 3,
 '100009': 3,
 '1000090': 2,
 '1000091': 8,
 '1000092': 2,
 '1000093': 1,
 '1000095': 15,
 '1000096': 23,
 '1000097': 2,
 '1000098': 1,
 '100010': 1,
 '1000107': 10,
 '100011': 2,
 '1000110': 1,
 '1000112': 1,
 '1000113': 1,
 '1000114': 1,
 '100012': 85,
 '1000120': 15,
 '1000121': 21,
 '1000130': 31,
 '1000131': 12,
 '1000135': 165,
 '1000136': 1,
 '1000137': 2,
 '1000139': 1,
 '100014': 1,
 '1000140': 1,
 '1000141': 1,
 '1000143': 72,
 '1000144': 5,
 '1000146': 7,
 '1000147': 9,
 '1000148': 8,
 '100015': 2,
 '1000150': 8,
 '1000151': 4,
 '1000152': 3,
 '1000153': 1,
 '1000154': 32,
 '1000155': 10,
 '1000157': 2,
 '1000158': 62,
 '1000159': 13,
 '1000161': 22,
 '1000162': 5,
 '1000164': 5,
 '1000165': 1,
 '1000166': 1,
 '1000167': 22,
 '1000168': 28,
 '100017': 15,
 '1000170': 18,
 '1000171': 31,
 '1000173': 1,
 '1000176': 3,
 '1000178': 1,
 '1000179': 1,
 '100018': 16,
 '1000180': 1,
 '1000181': 1,
 '1000182': 3,
 '1000183': 1,
 '1000184': 1,
 '1000185': 1,
 '1000186': 4,
 '1000187': 13,
 '1000188': 35,
 '1000193': 1,
 '1000196': 22,
 '1000199': 12,
 '100020': 28,
 '1000200': 12,
 '1000202': 35,
 '1000204': 29,
 '1000205': 13,
 '1000207': 28,
 '1000208': 9,
 '100021': 51,
 '1000210': 29,
 '1000213': 42,
 '1000214': 53,
 '1000218': 1,
 '1000222': 2,
 '1000223': 8,
 '1000224': 14,
 '1000227': 1,
 '1000229': 5,
 '100023': 1,
 '1000231': 1,
 '1000232': 30,
 '1000233': 2,
 '1000234': 15,
 '1000235': 16,
 '1000237': 1,
 '1000238': 1,
 '1000239': 22,
 '100024': 1,
 '1000240': 1,
 '1000241': 1,
 '1000242': 1,
 '1000243': 1,
 '1000244': 1,
 '1000245': 1,
 '1000246': 1,
 '1000247': 1,
 '1000248': 1,
 '100025': 29,
 '1000250': 20,
 '1000251': 14,
 '1000252': 78,
 '1000253': 4,
 '1000254': 10,
 '1000255': 1,
 '1000256': 3,
 '1000259': 55,
 '100026': 3,
 '1000260': 8,
 '1000261': 8,
 '1000263': 2,
 '1000265': 3,
 '1000266': 1,
 '1000267': 1,
 '1000268': 1,
 '1000272': 45,
 '100028': 42,
 '1000287': 11,
 '1000291': 4,
 '1000292': 1,
 '1000294': 29,
 '1000300': 2,
 '1000302': 1,
 '1000307': 3,
 '1000308': 71,
 '1000310': 1,
 '1000311': 6,
 '1000312': 13,
 '1000315': 1,
 '1000316': 1,
 '1000317': 3,
 '1000318': 33,
 '1000322': 6,
 '1000323': 38,
 '1000329': 1,
 '100033': 6,
 '1000331': 3,
 '1000332': 30,
 '1000333': 2,
 '1000334': 9,
 '1000335': 16,
 '1000336': 4,
 '1000337': 3,
 '1000338': 27,
 '1000339': 3,
 '100034': 108,
 '1000340': 21,
 '1000341': 1,
 '1000343': 49,
 '1000345': 2,
 '1000349': 47,
 '100035': 47,
 '1000350': 58,
 '1000355': 6,
 '1000374': 1,
 '1000378': 8,
 '100038': 4,
 '1000386': 4,
 '1000389': 5,
 '100039': 7,
 '1000391': 1,
 '1000392': 3,
 '1000397': 1,
 '100040': 51,
 '1000400': 2,
 '1000401': 1,
 '1000402': 1,
 '1000404': 1,
 '1000407': 3,
 '100041': 4,
 '1000410': 10,
 '1000411': 12,
 '1000414': 1,
 '1000415': 1,
 '1000416': 2,
 '1000417': 1,
 '1000418': 1,
 '1000419': 1,
 '1000420': 1,
 '1000421': 1,
 '1000422': 1,
 '1000423': 1,
 '1000424': 3,
 '1000429': 12,
 '1000431': 5,
 '1000432': 3,
 '1000433': 21,
 '1000434': 4,
 '1000436': 5,
 '1000439': 7,
 '100044': 7,
 '1000440': 7,
 '1000441': 8,
 '1000442': 1,
 '1000443': 8,
 '1000444': 5,
 '1000445': 6,
 '1000446': 9,
 '1000447': 3,
 '1000448': 6,
 '1000450': 22,
 '1000451': 22,
 '1000452': 1,
 '1000453': 10,
 '1000454': 10,
 '1000455': 74,
 '1000457': 36,
 '1000458': 23,
 '1000459': 8,
 '100046': 4,
 '1000460': 3,
 '1000461': 1,
 '1000463': 45,
 '1000465': 10,
 '1000466': 106,
 '100047': 42,
 '1000478': 6,
 '1000481': 33,
 '1000482': 1,
 '1000483': 115,
 '1000484': 6,
 '1000485': 2,
 '1000486': 1,
 '1000487': 2,
 '1000488': 2,
 '100049': 7,
 '1000491': 11,
 '1000492': 1,
 '1000493': 22,
 '1000494': 6,
 '1000497': 35,
 '1000498': 26,
 '100050': 6,
 '1000503': 115,
 '1000505': 1,
 '1000506': 1,
 '1000507': 2,
 '1000508': 1,
 '1000509': 1,
 '1000510': 2,
 '1000511': 1,
 '1000512': 1,
 '1000514': 1,
 '1000515': 24,
 '1000516': 62,
 '1000517': 11,
 '1000519': 14,
 '1000520': 1,
 '1000521': 2,
 '1000522': 3,
 '1000523': 5,
 '1000524': 45,
 '100053': 3,
 '1000535': 2,
 '1000537': 1,
 '100054': 4,
 '1000542': 1,
 '1000543': 3,
 '1000544': 12,
 '1000545': 1,
 '1000546': 1,
 '1000547': 12,
 '1000548': 3,
 '1000549': 1,
 '1000550': 4,
 '1000552': 1,
 '1000555': 4,
 '1000558': 44,
 '1000559': 1,
 '1000560': 14,
 '1000561': 22,
 '1000563': 41,
 '1000567': 23,
 '1000569': 4,
 '100057': 2,
 '1000570': 1,
 '1000571': 1,
 '1000572': 1,
 '1000573': 6,
 '1000574': 84,
 '1000575': 1,
 '1000576': 14,
 '1000577': 1,
 '1000578': 1,
 '1000579': 7,
 '100058': 254,
 '1000580': 27,
 '1000581': 2,
 '1000582': 2,
 '1000586': 8,
 '1000589': 1,
 '1000590': 1,
 '1000592': 1,
 '1000593': 1,
 '1000594': 1,
 '1000596': 2,
 '100060': 1,
 '1000600': 1,
 '1000602': 1,
 '1000606': 2,
 '1000607': 1,
 '1000609': 10,
 '1000614': 1,
 '1000617': 2,
 '1000618': 28,
 '1000619': 31,
 '100062': 7,
 '1000621': 10,
 '1000622': 9,
 '1000624': 8,
 '1000625': 129,
 '1000626': 42,
 '1000627': 18,
 '1000629': 44,
 '100063': 1,
 '1000630': 2,
 '1000631': 15,
 '1000632': 12,
 '1000633': 1,
 '1000634': 1,
 '1000635': 1,
 '1000636': 15,
 '1000639': 76,
 '100064': 5,
 '1000640': 88,
 '1000641': 72,
 '1000643': 7,
 '1000644': 22,
 '1000646': 11,
 '1000647': 9,
 '1000648': 22,
 '1000649': 10,
 '100065': 2,
 '1000651': 13,
 '1000652': 8,
 '1000653': 6,
 '1000654': 37,
 '1000655': 4,
 '1000656': 11,
 '1000657': 9,
 '1000658': 18,
 '100066': 1,
 '1000661': 6,
 '1000662': 10,
 '1000663': 12,
 '1000664': 23,
 '1000665': 21,
 '1000666': 1,
 '1000667': 14,
 '1000669': 1,
 '100067': 2,
 '1000671': 25,
 '1000672': 8,
 '1000673': 26,
 '1000676': 5,
 '1000677': 23,
 '1000678': 12,
 '100068': 2,
 '1000680': 15,
 '1000681': 10,
 '1000682': 3,
 '1000683': 2,
 '1000684': 12,
 '1000685': 61,
 '1000686': 10,
 '100069': 4,
 '1000691': 3,
 '1000692': 1,
 '1000695': 6,
 '1000697': 9,
 '1000699': 5,
 '10007': 281,
 '100070': 1,
 '1000701': 33,
 '1000702': 1,
 '1000703': 2,
 '1000704': 1,
 '1000705': 3,
 '1000706': 1,
 '1000707': 1,
 '1000708': 116,
 '100071': 1,
 '1000712': 10,
 '1000713': 133,
 '1000720': 1,
 '1000721': 1,
 '1000723': 50,
 '1000725': 1,
 '1000727': 2,
 '1000728': 106,
 '1000729': 12,
 '100073': 9,
 '1000732': 36,
 '1000734': 2,
 '1000735': 4,
 '1000737': 2,
 '1000738': 2,
 '1000739': 43,
 '1000741': 2,
 '1000743': 42,
 '1000744': 2,
 '1000745': 3,
 '1000746': 15,
 '1000747': 1,
 '100075': 1,
 '1000756': 3,
 '1000758': 6,
 '1000759': 39,
 '100076': 5,
 '1000760': 5,
 '1000761': 2,
 '1000762': 44,
 '1000764': 14,
 '1000769': 2,
 '100077': 47,
 '1000772': 2,
 '1000774': 4,
 '1000776': 13,
 '1000778': 8,
 '1000779': 1,
 '100078': 14,
 '1000781': 2,
 '1000783': 1,
 '1000784': 1,
 '1000789': 5,
 '100079': 1,
 '1000790': 38,
 '1000793': 51,
 '1000794': 1,
 '1000795': 13,
 '1000796': 1,
 '1000798': 13,
 '1000799': 20,
 '100080': 17,
 '1000800': 51,
 '1000801': 16,
 '1000802': 66,
 '1000803': 10,
 '1000804': 4,
 '1000805': 7,
 '1000806': 12,
 '1000807': 3,
 '1000808': 28,
 '1000816': 2,
 '1000817': 3,
 '1000818': 1,
 '1000819': 42,
 '1000820': 336,
 '1000823': 1,
 '1000824': 43,
 '1000826': 1,
 '1000828': 1,
 '1000829': 4,
 '100083': 7,
 '1000830': 13,
 '1000831': 3,
 '1000832': 14,
 '1000833': 1,
 '1000834': 1,
 '100084': 2,
 '1000842': 3,
 '1000843': 2,
 '1000844': 2,
 '100085': 9,
 '1000850': 1,
 '1000852': 1,
 '1000853': 1,
 '1000854': 1,
 '1000855': 1,
 '1000856': 1,
 '1000857': 1,
 '1000858': 1,
 '1000859': 1,
 '100086': 16,
 '1000860': 1,
 '1000866': 46,
 '1000867': 11,
 '100087': 218,
 '1000870': 19,
 '1000871': 13,
 '1000873': 1,
 '1000874': 4,
 '1000875': 4,
 '1000876': 1,
 '1000877': 13,
 '1000878': 10,
 '1000879': 20,
 '100088': 7,
 '1000881': 1,
 '1000884': 8,
 '1000886': 10,
 '1000888': 2,
 '1000891': 3,
 '1000895': 24,
 '1000896': 1,
 '1000898': 2,
 '1000900': 54,
 '1000901': 6,
 '1000905': 2,
 '1000906': 2,
 '1000907': 2,
 '1000909': 1,
 '100091': 1,
 '1000911': 27,
 '1000912': 5,
 '1000913': 23,
 '1000914': 1,
 '1000915': 1,
 '1000916': 1,
 '1000917': 2,
 '1000918': 1,
 '1000919': 2,
 '100092': 74,
 '1000920': 2,
 '1000921': 11,
 '1000924': 14,
 '1000925': 14,
 '1000926': 39,
 '1000927': 25,
 '1000928': 27,
 '1000929': 1,
 '100093': 6,
 '1000930': 1,
 '1000931': 1,
 '1000933': 2,
 '1000934': 1,
 '1000935': 1,
 '1000937': 3,
 '1000938': 2,
 '1000939': 1,
 '100094': 1,
 '1000940': 93,
 '1000941': 1,
 '1000943': 3,
 '1000944': 16,
 '1000945': 5,
 '1000946': 84,
 '1000948': 34,
 '1000949': 4,
 '100095': 3,
 '1000950': 10,
 '1000952': 2,
 '1000953': 9,
 '1000954': 1,
 '1000955': 2,
 '1000956': 2,
 '1000957': 2,
 '1000958': 2,
 '1000959': 1,
 '1000960': 10,
 '1000961': 6,
 '1000962': 3,
 '1000963': 1,
 '1000964': 1,
 '1000965': 2,
 '1000967': 7,
 '1000968': 1,
 '100097': 3,
 '1000970': 1,
 '1000971': 1,
 '1000974': 1,
 '1000980': 1,
 '1000982': 1,
 '1000983': 4,
 '1000986': 29,
 '1000987': 13,
 '1000988': 13,
 '1000989': 8,
 '100099': 65,
 '1000990': 26,
 '1000991': 27,
 '1000992': 5,
 '1000993': 10,
 '1000994': 8,
 '1000995': 8,
 '1000996': 13,
 '1000999': 7,
 '1001': 586,
 '1001000': 15,
 '1001001': 2,
 '1001004': 1,
 '1001005': 27,
 '1001006': 24,
 '1001014': 6,
 '1001015': 3,
 '1001017': 3,
 '1001018': 11,
 '1001019': 183,
 '1001020': 23,
 '1001026': 1,
 '100103': 1,
 '1001033': 4,
 '1001034': 8,
 '1001035': 1,
 '1001039': 4,
 '100104': 245,
 '1001051': 10,
 '1001054': 7,
 '1001055': 21,
 '1001063': 1,
 '1001064': 1,
 '1001065': 1,
 '1001075': 16,
 '1001078': 10,
 '1001083': 8,
 '1001084': 1,
 '1001085': 3,
 '1001087': 114,
 '1001088': 1,
 '1001098': 64,
 '1001099': 2,
 '1001100': 1,
 '1001101': 2,
 '1001102': 1,
 '1001103': 1,
 '1001104': 1,
 '1001105': 1,
 '1001106': 1,
 '1001107': 11,
 '1001109': 6,
 '1001114': 34,
 '1001125': 18,
 '1001126': 1,
 '1001127': 71,
 '1001128': 73,
 '1001129': 1,
 '1001130': 54,
 '1001131': 3,
 '1001132': 2,
 '1001133': 5,
 '1001135': 9,
 '1001136': 96,
 '1001137': 2,
 '1001138': 1,
 '1001139': 27,
 '1001148': 8,
 '1001149': 1,
 '1001150': 5,
 '1001151': 13,
 '1001152': 6,
 '1001153': 3,
 '1001155': 20,
 '1001165': 1,
 '1001169': 10,
 '1001172': 1,
 '1001173': 1,
 '1001176': 2,
 '1001185': 63,
 '1001186': 1,
 '1001187': 2,
 '1001188': 2,
 '1001189': 17,
 '1001190': 109,
 '1001195': 10,
 '100120': 228,
 '1001205': 13,
 '1001207': 1,
 '100121': 27,
 '1001210': 26,
 '1001212': 28,
 '1001213': 6,
 '1001214': 13,
 '1001215': 7,
 '1001216': 23,
 '1001218': 2,
 '100122': 20,
 '1001220': 15,
 '1001223': 33,
 '1001224': 15,
 '1001229': 73,
 '100123': 295,
 '1001232': 13,
 '1001235': 5,
 '100124': 3,
 '1001241': 15,
 '1001251': 12,
 '1001253': 7,
 '1001254': 1,
 '1001259': 14,
 '100126': 2,
 '1001260': 1,
 '1001261': 1,
 '1001262': 1,
 '1001263': 1,
 '1001264': 1,
 '1001265': 1,
 '1001266': 5,
 '1001267': 4,
 '1001268': 1,
 '1001269': 11,
 '100127': 3,
 '1001270': 2,
 '1001271': 1,
 '1001272': 1,
 '1001273': 1,
 '1001279': 9,
 '1001280': 25,
 '1001282': 1,
 '1001283': 1,
 '1001284': 1,
 '1001286': 2,
 '1001287': 10,
 '1001288': 22,
 '1001289': 1,
 '1001295': 2,
 '1001296': 2,
 '100130': 9,
 '1001305': 6,
 '1001306': 48,
 '1001308': 5,
 '100131': 28,
 '1001313': 1,
 '1001314': 1,
 '1001315': 1,
 '1001316': 2,
 '1001319': 116,
 '1001323': 1,
 '1001324': 25,
 '1001325': 2,
 '1001327': 40,
 '100133': 4,
 '1001330': 11,
 '1001332': 25,
 '1001334': 1,
 '1001337': 10,
 '1001344': 11,
 '1001350': 1,
 '1001351': 14,
 '1001354': 5,
 '1001355': 24,
 '1001359': 11,
 '1001360': 3,
 '1001361': 7,
 '1001362': 20,
 '1001366': 1,
 '1001368': 1,
 '1001369': 16,
 '100137': 15,
 '1001373': 65,
 '1001374': 65,
 '1001375': 17,
 '1001376': 9,
 '1001377': 12,
 '1001378': 10,
 '1001379': 5,
 '100138': 25,
 '1001380': 8,
 '1001381': 11,
 '1001382': 15,
 '1001383': 15,
 '1001384': 5,
 '1001385': 9,
 '1001386': 18,
 '1001387': 13,
 '1001388': 9,
 '1001389': 12,
 '1001390': 46,
 '1001391': 10,
 '100140': 10,
 '1001401': 15,
 '1001409': 41,
 '1001410': 3,
 '1001418': 24,
 '100142': 6,
 '100143': 12,
 '1001433': 1,
 '100144': 2,
 '1001440': 3,
 '1001442': 14,
 '1001443': 41,
 '1001445': 9,
 '1001449': 52,
 '100145': 9,
 '1001450': 33,
 '1001451': 5,
 '1001453': 6,
 '1001454': 3,
 '1001455': 8,
 '1001456': 1,
 '1001457': 1,
 '1001458': 1,
 '1001459': 1,
 '100146': 13,
 '1001460': 1,
 '1001461': 16,
 '1001464': 15,
 '1001465': 2,
 '1001466': 1,
 '100147': 4,
 '1001470': 4,
 '1001474': 2,
 '1001476': 2,
 '1001477': 2,
 '1001478': 21,
 '1001479': 2,
 '100148': 31,
 '1001480': 21,
 '1001482': 15,
 '1001484': 10,
 '1001485': 9,
 '1001486': 13,
 '1001489': 5,
 '1001491': 13,
 '1001493': 20,
 '1001494': 1,
 '1001495': 1,
 '1001496': 1,
 '1001497': 4,
 '1001499': 10,
 '10015': 46,
 '1001505': 6,
 '1001507': 54,
 '1001508': 1,
 '100151': 17,
 '1001511': 11,
 '1001513': 82,
 '1001515': 47,
 '1001519': 1,
 '100152': 16,
 '1001520': 49,
 '1001521': 128,
 '1001525': 4,
 '1001526': 1,
 '1001528': 1,
 '100153': 106,
 '1001533': 1,
 '1001535': 2,
 '100154': 411,
 '1001543': 13,
 '1001545': 2,
 '1001546': 6,
 '1001549': 12,
 '100155': 58,
 '1001551': 13,
 '1001559': 3,
 '1001561': 2,
 '1001564': 1,
 '1001566': 1,
 '1001571': 1,
 '1001572': 1,
 '1001574': 1,
 '1001576': 1,
 '1001577': 1,
 '1001578': 1,
 '1001579': 1,
 '100158': 77,
 '1001580': 2,
 '1001581': 2,
 '1001582': 1,
 '1001583': 1,
 '1001585': 1,
 '1001587': 1,
 '100159': 10,
 '1001590': 3,
 '1001591': 2,
 '1001593': 140,
 '1001594': 2,
 '1001596': 37,
 '1001597': 13,
 '100160': 12,
 '1001606': 21,
 '1001611': 6,
 '1001612': 2,
 '1001613': 11,
 '1001617': 51,
 '1001618': 2,
 '1001620': 1,
 '1001621': 20,
 '1001624': 11,
 '1001625': 52,
 '1001626': 12,
 '100163': 52,
 '1001634': 22,
 '1001637': 4,
 '100164': 14,
 '1001641': 2,
 '1001643': 253,
 '1001646': 10,
 '1001653': 5,
 '1001655': 10,
 '1001656': 11,
 '1001657': 2,
 '100166': 74,
 '1001660': 1,
 '1001662': 1,
 '1001663': 9,
 '1001666': 2,
 '1001669': 19,
 '1001670': 2,
 '1001671': 34,
 '1001672': 17,
 '1001673': 68,
 '1001674': 6,
 '1001675': 49,
 '1001676': 21,
 '1001677': 3,
 '1001679': 1,
 '100168': 16,
 '1001680': 9,
 '1001681': 2,
 '1001682': 5,
 '1001683': 2,
 '1001686': 22,
 '1001687': 26,
 '1001689': 6,
 '100169': 371,
 '1001690': 10,
 '1001691': 3,
 '1001694': 42,
 '1001695': 2,
 '1001696': 2,
 '1001697': 55,
 '1001698': 5,
 '100170': 50,
 '1001700': 5,
 '1001702': 16,
 '1001704': 71,
 '1001705': 6,
 '1001706': 3,
 '1001707': 2,
 '1001708': 3,
 '100171': 50,
 '1001711': 12,
 '1001714': 11,
 '1001715': 61,
 '1001716': 2,
 '1001719': 1,
 ...}

We are now ready to sort the lists so that the most common instance is the first element of the list.

In [14]:
# First element of the list will be the "main" instance of the artist
artists_lists = list(map(
    lambda artist_list: sorted(artist_list, key=lambda artist: artist_freqs.get(artist["id"], 0), reverse=True),
    artists_lists
))
artists_lists[:5]

[[{'id': '510355', 'name': 'Tom Salta'},
  {'id': '510353', 'name': 'Atlas Plug'}],
 [{'id': '515380', 'name': 'Sara Nicholas'},
  {'id': '512604', 'name': 'DJ Ginger Snapp'}],
 [{'id': '1816108', 'name': 'Alex Bilowitz'},
  {'id': '1303285', 'name': 'Alex Bilo'}],
 [{'id': '64070', 'name': 'DMX Krew'},
  {'id': '329053', 'name': 'Ed DMX'},
  {'id': '105617', 'name': 'Computor Rockers'},
  {'id': '167634', 'name': 'EDMX'},
  {'id': '329054', 'name': 'David Michael Cross'},
  {'id': '204935', 'name': 'Michael Knight'},
  {'id': '690681', 'name': '101 Force'},
  {'id': '839935', 'name': 'BBII'},
  {'id': '1043503', 'name': 'Asylum Seekers'},
  {'id': '119129', 'name': 'Bass Potato'},
  {'id': '285421', 'name': 'Edward Upton'}],
 [{'id': '567286', 'name': 'CJ'},
  {'id': '567288', 'name': 'Charles Hilton Jr.'}]]

So far we've only handled the "multiple instances" artists. The following block of code adds the "single instance" artists to the list. It doesn't matter if we do this after the sort, these lists are going to have only one instance of the artist after all.

In [17]:
# Has to be a better way to do this
# WARNING: ~3m execution time
seen_set = set(seen_dict.keys())
seen_set.add("")
for _, row in tracks.iterrows():
    artists_in_row = (
        {
            "id": row[f"a{i}_id"],
            "name": row[f"a{i}_name"],
        }
        for i in range(5) if row[f"a{i}_id"] not in seen_set
    )
    for artist in artists_in_row:
        artists_lists.append([artist])
        seen_set.add(artist["id"])
artists_lists[-5:]

KeyboardInterrupt:

In [19]:
len(artists_lists)
len(seen_dict)

905510

At this point we have a list of lists, the following will transform what we have into a list of dictionaries, ready to be serialized.

In [16]:
artists = list()
for artists_list in artists_lists:
    current_artist = dict()
    current_artist["main_id"] = artists_list[0]["id"]
    current_artist["known_ids"] = [artist["id"] for artist in artists_list]
    current_artist["known_names"] = [artist["name"] for artist in artists_list]
    artists.append(current_artist)
artists[:5]

In [17]:
artists[-5:]

The only thing left is to actually serialize what we have.

In [18]:
jsons = [json.dumps(artist, ensure_ascii=False) for artist in artists]
unique_jsons = list(set(jsons))

with open("artists.jsonl", "w", encoding="utf-8") as out_file:
    for unique_json in unique_jsons:
        out_file.write(unique_json + "\n")

In [19]:
!wc -l artists.jsonl

We can now retrieve the data every time we want.

In [20]:
with open("artists.jsonl", "r", encoding="utf-8") as in_file:
    artist_data = [json.loads(line) for line in in_file]
print(artist_data[:5])

## Relationships dataset

The next step is to save the relationships between the artists in a CSV file. Let's start collecting the different relationships.

In [21]:
link_types = pd.read_sql_query("SELECT DISTINCT id FROM link_type  WHERE entity_type0 = 'artist' AND entity_type1 = 'artist'", engine)
relationships = pd.DataFrame({
    'id0': [],
    'name0': [],
    'id1': [],
    'name1': [],
    'relationship_type': [],
})
for link_type in filter(lambda lt: lt not in (108, 292, 1079), link_types.id):
    query =\
f"""
SELECT a0.id AS id0, a0.name AS name0, a1.id AS id1, a1.name AS name1, {link_type} AS relationship_type
FROM l_artist_artist laa
JOIN artist a0 ON a0.id = laa.entity0
JOIN artist a1 ON a1.id = laa.entity1
WHERE laa.link IN (
    SELECT id
    FROM link
    WHERE link_type = {link_type}
);
"""
    result = pd.read_sql_query(query, engine, dtype=str)
    if result.empty:
        continue
    relationships = pd.concat([relationships, result])
del result
relationships.drop_duplicates(inplace=True)
relationships

Now we filter the relationships so that we don't have artists that don't concern us.

In [22]:
mask = relationships[["id0", "id1"]].isin(artist_freqs.keys()).all(axis=1)
filtered_relationships = relationships[mask]
filtered_relationships

Now, we have the relationships, but we've made an artist dataset that will help in the task of replacing the non-important id with the main id for each artist. For this task a dictionary will be created.

In [23]:
changes_dict = dict()
for artist in artist_data:
    if len(artist["known_ids"]) > 1:
        for known_id in artist["known_ids"]:
            if known_id != artist["main_id"]:
                changes_dict[known_id] = artist["main_id"]
len(changes_dict)

These are the relationships that we need to modify.

In [24]:
mask = filtered_relationships[["id0", "id1"]].isin(changes_dict.keys()).any(axis=1)
filtered_relationships

In [25]:
filtered_relationships.loc[mask, ["id0", "id1"]] = filtered_relationships.loc[mask, ["id0", "id1"]].map(changes_dict)

filtered_relationships.loc[mask]

In [26]:
changes_dict["426487"]

We can make sure that there are no cyclic references this way (hoping for a False return):

In [27]:
filtered_relationships[["id0", "id1"]].isin(changes_dict.keys()).any(axis=1).any()

Now we can finally save our relationships CSV.

In [28]:
filtered_relationships.to_csv("relationships.csv", index=False)

In [29]:
!wc -l relationships.csv

## Tags

We now can get the tags from the database.

In [30]:
query = """
SELECT artist, STRING_AGG(tag::VARCHAR, ', ') as tags
FROM artist_tag
GROUP BY artist;
"""
tags = pd.read_sql_query(query, engine, dtype=str)
tags = tags[tags["artist"].isin([artist["id"] for artists_list in artists_lists for artist in artists_list])]
tags

In [31]:
mask = tags["artist"].isin(changes_dict.keys())
tags[mask]

In [32]:
tags.loc[mask, "artist"] = tags.loc[mask, "artist"].map(changes_dict)

We can now save the results for the future.

In [33]:
tags.to_csv("artist_tags.csv", index=False)

## Tracks dataset with main IDs

Now that we're here, why not do the same with the tracks dataset, which we have already in memory.

In [34]:
mask = tracks[id_columns].isin(changes_dict.keys()).any(axis=1)
tracks.loc[mask, id_columns]

In [35]:
# WARNING: ~10m execution time
tracks.loc[mask, id_columns] = tracks.loc[mask, id_columns].map(changes_dict)

tracks.loc[mask, id_columns]

In [36]:
tracks[id_columns].isin(changes_dict.keys()).any(axis=1).any()

In [37]:
tracks.to_csv("../data/tracks_no_va_merged.csv", index=False)

In [38]:
!wc -l tracks_no_va_merged.csv

## Cleanup

In [39]:
engine.dispose()
conn.close()

In [40]:
!service postgresql stop